[2017-06-07 01:24] proxyusertryingsurge commented on #263
Surge need this code

[2017-06-07 01:25] proxyusertryingsurge commented on #237
Yeah, tried it and it's not working, but advertised this on their website.

[2017-06-07 01:26] proxyusertryingsurge commented on #245
You need to upload 200.html and 404.html to root directory of the project

[2017-06-07 01:31] proxyusertryingsurge commented on #257
LOL, how many people share such big file(PDF) on Surge(free service)? Don't be greedy, pay what they deserve or compress your PDF to something else(zip,tar,7z,rar,whatever).

[2017-06-07 01:32] proxyusertryingsurge commented on #257
@sintaxi How about adding "PDF upload allowed" to Surge+ monthly plan?

[2017-06-07 01:35] proxyusertryingsurge commented on #248
Look at other issues. @sintaxi never answer to our questions. And they didn't have email address to send a question. Just chat support, and my ISP is blocking slack. Their support should have email support.

[2017-06-07 09:49] sintaxi commented on #237
I just tested. It works for me. I ran..

[code]
An invite is emailed to brock@chloi that has to accept publishing rights.

[2017-06-07 09:50] sintaxi commented on #237
I should add that I think this was broken a while back and it got patched. Apologies for not closing this issue. Will do better.

[2017-06-07 09:50] #237 closed

[2017-06-07 11:39] sintaxi commented on #262
The surge CLI ensures you have an encrypted connection to our publishing interface to help prevent MITMA. This is a feature for the vast majority of people using surge.

The best solution I can suggest at this time is to whitelist `surge.surge.sh` on your proxy. Or to deploy from the proxy itself. It should get you around the issue.

[2017-06-07 11:39] #262 closed

[2017-06-07 11:48] sintaxi commented on #270
Surge is designed to have a secure connection to surge.surge.sh to prevent MITMA.

I suggest whitelisting `surge.surge.sh` in your proxy.

[2017-06-07 11:48] #270 closed

[2017-06-07 11:55] sintaxi commented on #265
My guess is this is a cross-origin issue.

[2017-06-09 21:38] marijohannessen opened #271 "Downgrade from Surge Plus"
How do I downgrade from Surge plus?

[2017-06-09 22:03] sintaxi commented on #271
running `surge teardown example.com` cancels your subscription for that project. You can then redeploy with `surge path/to/project example.com` if you still want to host on surge.

[2017-06-09 22:03] #271 closed

[2017-06-12 05:00] xuey90 opened #272 "Unable to enter input for some fields when using Node 8"
Using Node 8 (8.1.0), I tried to perform a `surge login`

I was able to input my email.
I was unable to enter any password. `ctrl + c` did not work either

When I switched back to Node 6 (6.9.1)
I was able to enter both email and password

[2017-06-13 16:26] JesseSoldat commented on #257
@sintaxi Could you whitelist
https://jesse-soldat.surge.sh

[2017-06-14 11:21] sintaxi commented on #272
A few people have reported this issue but I haven't been able to recreate the problem. What OS are you running?

[2017-06-15 06:57] jiverson commented on #272
Same here and to note I am using nvm as well.

[2017-06-15 07:50] jesseminn commented on #272
Same here, unable to change the domain name, also unable to enter password when I was trying to login.

[2017-06-15 12:10] sintaxi commented on #272
What OS are you all running?

[2017-06-15 12:52] xuey90 commented on #272
I'm on Mac OS. Happens on both iterm2 and terminal. Also using nvm

[2017-06-15 14:58] jesseminn commented on #272
I'm using OSX, I could use it yesterday until I upgraded to 10.12.6 beta last night.

[2017-06-15 20:40] juandjara commented on #257
Hello @sintaxi

Could you pls whitelist [](https://fuken.xyz/CV-juandjara.pdf) ??
That's my resume on my personal webpage

[2017-06-17 17:15] tylerdave commented on #219
I'm having this same issue today trying to upload a new certificate to an account that already had one (and that has now expired.) It's using a LetsEncrypt cert. I've tried:

`cat fullchain.pem privkey.pem > surge.pem`
`cat cert.pem privkey.pem > surge.pem`
`cat cert.pem chain.pem privkey.pem > surge.pem`

In every case running the `surge ssl` command w/ the pem file results in:

`Error - the pem

[2017-06-17 17:43] sintaxi commented on #219
@tylerdave if you're able to hop into slack I can help you.

[2017-06-19 11:17] xuey90 commented on #272
This might be a Node.js issue as my friend had trouble publishing to npm registry on password input. (on Node 8.1.0, Mac OS)

[2017-06-19 11:26] xuey90 commented on #272
Fixed by upgrading to Node 8.1.2

[2017-06-21 18:27] srumbaugh20 opened #273 "Getting 404 page not found error"
I'm trying to upload a personal site using the the command line:

surge portfolio/theme/ sethrumbaugh.com

I get a " Success! Project is published and running at sethrumbaugh.com" but when I go to the url it comes up with a 404 page not found error. I have an index.html file in the root folder. The site works if I use a surge domain but when I use my custom domain it doesn't work. I've set  the CN

[2017-06-22 00:28] #273 closed

[2017-06-22 01:58] sintaxi commented on #272
@xuey90 thanks for testing and reporting.

[2017-06-22 01:58] #272 closed

[2017-06-23 17:50] paulcpederson commented on #257
@sintaxi when you get a moment, could you also whitelist paulcpederson.com ? Storing my resume in pdf format on there. Also, thanks for surge! Really amazing project...

[2017-06-26 13:55] AndreaCensi commented on #257
@sintaxi Could you whitelist http://robot-design.org/ ?

(p.s. this policy really needs to be in the documentation)

[2017-07-01 15:53] gaelmaiano commented on #257
Hi @sintaxi
Could you whitelist http://gael.maiano.fr ?
The pdf is my cv.
Thanks

[2017-07-05 10:54] RynoRn commented on #257
Hi,

Could you please whitelist my domain for 2 very small PDF files please?

**Domain:**
http://pickies.hu

**Files:**
http://pickies.hu/docs/Pickies_nyeremenyjatek_szabalyzat.pdf
http://pickies.hu/docs/Pickies_adatkezelesi_tajekoztato.pdf

Thanks a lot!

[2017-07-11 05:28] EliotSlevin commented on #257
Hi @sintaxi

Could you please whitelist simulating-psychedelic-therapy.surge.sh, and barnett.surge.sh? My friend and I are using surge to host our thesis's, and we need to load two small PDF files.

Thanks heaps :)

[2017-07-12 16:55] nkandrewz commented on #257
Could you please whitelist http://decalscentral.com ?

[2017-07-14 12:58] cbroberg commented on #223
I have the same problem wanting to publish to domain.com/example1 and domain.com/example2, still haven't found anything working

[2017-07-16 19:17] remarks commented on #257
@sintaxi could you please whitelist http://markpinero.com? Thank you!

[2017-07-17 10:14] K0ff33 opened #274 "Filling the password field doesn't work in Node 8 (macOS)"
I couldn't fill in the password field when using `surge` for the first time, as the input basically froze.

It's definitely a Node 8 thing, as everything works perfectly fine in Node 6.

`$ surge --version`
`0.19.0`
`$ node --version`
`v8.1.0`
`$ npm --version`
`5.0.4`

macOS running zsh

[2017-07-19 18:51] serkansokmen commented on #257
@sintaxi could you please whitelist [birbucuk.org](http://birbucuk.org)?
Thanks a lot!

[2017-07-26 01:28] kevinliu743 commented on #257
@sintaxi could you please whitelist cs70.kevinmliu.com? Thanks! I'm posting notes for students

[2017-07-26 02:34] axbwh commented on #257
@sintaxi Hi, I would really appreciate it if you could white list dww.surge.sh, got a few pdf infographics that need to be published on the site. Cheers.

[2017-07-26 12:46] sureshbala commented on #257
@sintaxi Please whitelist the website https://universaltechnoschool.com/
This is the website of a school and they would like to distribute School Brochure and Application Form

[2017-07-26 14:50] ovrdc-master opened #276 "Limits to number of files? "size: Killed""
I have a folder with 175 files under 300mb total. This does not seem like a lot to me. With this folder included in the site, surge fails to deploy. I am getting ```size: Killed```. These are a mix of file types, mostly json and geojson. Is there a limit to file size or file extensions/types? Total project size is 625mb.

[2017-07-26 22:21] sintaxi commented on #276
Limits are put in place to prevent abuse such as link farms and the limits are set extremely high. Surge still gives you plenty of rope to hang yourself with. A 300MB project would cost approximately $2400 to download while roaming. That's a lot don't you think? What kind of a project are you building that needs more space than that?

[2017-07-27 15:12] wesleyllewis commented on #257
@sintaxi Could you please whitelist www.wesleylewis.us? Trying to host my CV. Thanks in advance!

[2017-07-27 18:02] ovrdc-master commented on #276
I don’t know what you mean by “would cost $2400 to download”. That size is for all 175 files, not 300MB each…that would be crazy! These are geojson (map files) for a variety of web maps. Anyway, I think the problem has nothing to do with surge (also had the problem with Netlify) but with processes taking up too much memory and being killed by the OS/host. I am on a digital ocean droplet with only

[2017-07-27 21:46] vitormalencar commented on #212
any updates =) ?

[2017-07-29 00:02] overint commented on #274
Exact same problem here running windows.

surge --version
0.19.0
node --version
v8.1.0
npm --version
5.0.3

[2017-07-30 01:55] jasonkuhrt commented on #257
I got burnt by this silently, I guess my resume has been 404 for a few months now. Can you please whitelist http://jasonkuhrt.com. Thanks!

[2017-08-02 08:09] Anoop-Goudar opened #277 "Facing lot of delay in accessing the page hosted on surge with the domain name boatman.ai"
Can you please provide the fix for the delay or suggest me if I should be doing anything at my end.

[2017-08-03 17:40] joshwilcken commented on #257
@sintaxi please whitelist http://joshwilcken-portfolio.surge.sh/  I am attempting to whitelist my portfolio site.

[2017-08-04 23:33] cotyembry commented on #257
@sintaxi can you please whitelist http://http://sovereignchickamaugacherokee.org/ I am needing to keep an application for hosted and available for the website. Thank you!

[2017-08-05 16:22] rosendin commented on #257
@sintaxi can you please whitelist [](http://polyledger.com/) please I would like to share a pdf.

[2017-08-05 19:08] cotyembry commented on #257
The way I worked around this issue while waiting for my domain to be whitelisted was to: #1 use github, #2 use an iframe in my site. I chose to embed an iframe in my page to make the domain/url to the user stay my domain name, then set the src of the iframe to be what the url is for the resource on github.com.  To get the url, navigate to the file on github.com after logging and selecting your git

[2017-08-09 17:30] inker commented on #212
HTTP/2 support has landed in Node.js: https://github.com/nodejs/node/pull/14239

[2017-08-12 06:05] trevorwhealy commented on #85
Hey is this still possible?

[2017-08-12 08:17] overint commented on #274
@sintaxi
Any updates on this?

[2017-08-15 17:50] sh4hidkh4n commented on #257
could you please whitelist my domain
http://resume.shahidkamal.surge.sh

[2017-08-21 16:42] plugnburn commented on #257
Please whitelist nihilcoin.surge.sh, the only PDF that needs to be published there is our group's manifesto.

[2017-08-21 22:41] micahjz commented on #257
@sintaxi Hi, can you please whitelist my domain at www.micahzirn.com. I would like to include my résumé. Thanks!

[2017-08-22 20:44] organnoise commented on #257
Hi could you please whitelist ```danielmcn.com```?

Some of my images also won't upload for some reason, are there rules about certain images being uploaded too?

[2017-08-22 20:47] organnoise opened #279 "Images missing on site."
I don't see a pattern in this problem:

I have pushed my site. It works locally exactly as I expect.

For some reason when I push to surge <b>certain images are missing</b>. If you run the console you will see which ones are missing. The missing pictures are no bigger than any other file, so I don't know what differentiates them from all the other image files.

Here is the site:
```danielmcn.com``

[2017-08-22 21:11] organnoise commented on #279
Ok, I see what I did wrong.

I had some uppercase/lowercase differences from my image names to my html. Locally that didn't seem to be problem but uploading it was. Problem solved

[2017-08-23 02:14] andrewjford commented on #257
Hi, could you please whitelist [andrewford.net](andrewford.net)? I have a pdf resume on there, thanks!

[2017-08-23 05:31] justinkan9 commented on #257
I like many others, have a resume pdf file :) would love to get it whitelisted:

justinkang.surge.sh

[2017-08-23 05:34] justinkan9 opened #280 "Need domain whitelisted for PDF"
Hi @sintaxi

As mentioned in issue #257, would need to get my domain whitelisted to have my resume pdf file available.

Huge thanks in advance!

-Justin

[2017-08-23 05:39] EliotSlevin commented on #257
I hope it's becoming apparent we need a more sustainable pdf system than
requesting to be on a whitelist - how about a limit to the amount of pdfs
you can upload on a free plan?

On Wed, 23 Aug 2017, 5:31 pm Justin S Kang <notifications@github.com> wrote:

[2017-08-26 02:30] winstonlan commented on #257
Could you whitelist my domain! winstonlan.me

[2017-08-26 12:27] woHangOnAMinute commented on #257
us too!!!

[2017-08-27 18:52] iamsoughtout commented on #179
I have this same problem. I just got introduced to sh. I finished uploading my files and it showed me a message :
"Success! Project is published and running at etimsoughtout.surge.sh" However, when i visited the site, I met a "page not found" error. I have tried multiple things to fix this to no avail. Kindly advise on what to do.

[2017-08-27 19:47] dmiotti commented on #257
Same here, could you white liste use:
cocotte-app.com

[2017-08-30 21:06] ran-research-lab commented on #257
Could you pls whitelist 3033.surge.sh. I use it for my progeamming course.
Thanks

[2017-08-31 04:32] webbdm commented on #179
@iamsoughtout I'm getting this too. Did they ever find a fix?

[2017-08-31 10:23] sintaxi commented on #179
"Page not Found" usually means you are missing an `index.html` file in the root of your project. Verify that you deployed the correct directory.

[2017-08-31 20:22] aholson commented on #257
Hi could you whitelist audreyhsuolson.com? Trying to upload a PDF of my resume.

Thanks in advance!

[2017-08-31 20:26] sintaxi commented on #257
Hey folks, we're working on a better long term solution for this problem as suggested by @EliotSlevin. until then DM you surge **email address** to [@surge_sh](https://twitter.com/surge_sh) to get whitelisted.

[2017-08-31 22:38] aholson commented on #257
@surge_sh aholson@ucsd.edu

[2017-08-31 22:54] justinkan9 commented on #257
@sintaxi

Hey, I don't have twitter, but hope you see this to whitelist me 👍

justinkan9@yahoo.com

[2017-08-31 22:54] webbdm commented on #179
@sintaxi the index is there in the build folder and it's properly linked to the css & js files

[2017-08-31 22:55] justinkan9 commented on #280
email: justinkan9@yahoo.com

[2017-08-31 23:34] iamsoughtout commented on #179
@webbdm i never got a solution from them. I sent a mail to a Brock, who works in Surge. He was replying me for a while, then all of a sudden just went AWOL, without helping to solve the problem. @sintaxi, are you the same Brock I was speaking with? I have an index.html file in the root of the project, and I also shared my file directory pathing with Brock which he didnt fault. He requested to see

[2017-09-02 18:47] nolastan commented on #179
If you're using `create-react-app`, make sure you're deploying the `build` folder by updating your `project path`. Check out [this tutorial](https://medium.freecodecamp.org/surge-vs-github-pages-deploying-a-create-react-app-project-c0ecbf317089) for deploying `create-react-app` with surge.

[2017-09-05 00:52] lmflatt commented on #257
Hey @sintaxi
It seems like this is the place to get whitelisted for pdfs. Would you be able to add anthonybernarducci.surge.sh ? It's a site for a friend, and he just has a few scholarly publications to show off. My email is lee.m.flatt@gmail.com

[2017-09-06 22:27] Chisnits commented on #257
DM'd on twitter but really trying to get whitelisted ASAP. my url is chasederr.surge.sh. my email is chasederr@gmail.com. Please let me know if anything can be done. @sintaxi

[2017-09-08 00:41] nsarafa commented on #244
Try logging out with `surge logout` and logging back in with `surge login`

[2017-09-08 00:42] nsarafa commented on #234
Try logging out with `surge logout` and logging back in with `surge login`

[2017-09-10 11:42] huwd commented on #230
@sintaxi What's the best workaround for this, can I DM or email you a list of projects to clearout on my account? I'll just be careful not to upload anything with caps until a bugfix exists?

[2017-09-10 19:40] edadams opened #281 "Not ignoring folders that begin with a dot"
Hey!

I'm trying to use Let's Encrypt on my Surge.sh site [with the help of this wonderful resource I found.](https://gethttpsforfree.com/)

One of the last steps is to upload files into a folder on my site, `/.well-known/<long string of characters>/`. I'm not able to upload the folder because according to #61 Surge ignores files and folders that begin with a dot.

Is it possible for me to make Su

[2017-09-10 23:14] youessaapp commented on #252
Would also like to see this feature implemented. I'm using surge from a small Indian city and internet isn't fast. Every full upload eats into my metered data AND takes time.

[2017-09-13 19:35] rohyadav commented on #55
I'm having this issue. And i tried to logout and login but doesn't work for me can you please anyone help me out this.
before it was different login id that time worked but when i upload in different domain that got error.
but for now is there anyway to short it out this.

surge --domain imrohit.in

    Surge - surge.sh

              email: rohityadav.techie@gmail.com
              token: *******

[2017-09-13 19:46] rohyadav commented on #244
I'm having this issue. And i tried to logout and login but doesn't work for me can you please anyone help me out this.
before it was different login id that time worked but when i upload in different domain that got error.
but for now is there anyway to short it out this.

surge --domain imrohit.in

Surge - surge.sh

          email: rohityadav.techie@gmail.com
          token: *****************

[2017-09-13 19:53] sintaxi commented on #244
@rohyadav we have a different account on file for that domain. I have emailed the email account we have on file for you.

[2017-09-16 18:42] fouman75 commented on #179
If I just follow the tutorial and deploy /build, I get 404 on the css and js file.

The problem seems to be in the way create-react-app (v1.4.0 in my case) links the files in index.html:
[code]

The files on surge.sh are actually directly in the root folder under /static, not under <project_name>/static. If you manually try accessing the files under <app_name>.surge.sh/static/css/..., the files ar

[2017-09-16 23:21] sintaxi commented on #179
@iamsoughtout appologies, I had thought I got you the information you needed. The problem you appear to be having is your `index.html` file is named `Index.html`. If you change that and redeploy your index.html file will load by default.

I think I am going to start to display a default index.html file when one isnt present so that people can see the files they have uploaded. Does that make sense

[2017-09-17 18:38] edadams commented on #281
I was misinformed about how HTTPS works on Surge for custom domain names. This is a dead end. I couldn't get my `/.well-known` directory uploaded, nor could I use the `surge ssl` command. The command prompted me for a `pem` file, but when I used my self-signed certificate, it started trying to sign me up for their paid service. Free HTTPS via Let's Encrypt on Surge does not seem to be possible.

T

[2017-09-17 18:38] #281 closed

[2017-09-18 18:35] febreroinfo opened #282 "Surge Teardown Not Working"
I've mistakenly created a project with an invalid domain name. I'm trying to tear it down but was unsuccessful.

The domain name when I ran surge list

![sl](https://user-images.githubusercontent.com/22597348/30558068-417078b8-9c7e-11e7-9636-12ed8c845eb2.png)

The result when I ran surge teardown

![st](https://user-images.githubusercontent.com/22597348/30558085-4fd6ac60-9c7e-11e7-81f2-390bbc22b30

[2017-09-20 02:38] iamsoughtout commented on #179
after changing my file name to index.html, still showing page not found

[2017-09-20 05:33] sintaxi commented on #179
@iamsoughtout be sure to redeploy after making the changes. Here is whats showing on your project.

<img width="830" alt="screen shot 2017-09-19 at 10 31 43 pm" src="https://user-images.githubusercontent.com/867/30628307-66d18e00-9d8a-11e7-9c46-1202b38646ff.png">

[2017-09-20 18:39] prakashraman opened #283 "Unable to access routes on my angular2 app"
Hi

I am able to push my angular application fine. Although, I am unable to access the routes inside of the application. It returns a 404.

It there any server setting I would need to set for it to deploy angular applications?

[2017-09-21 00:18] sintaxi commented on #283
Rename your `index.html` file to `200.html` and you should get what you are looking for.

[2017-09-21 07:45] prakashraman commented on #283
Perfect thanks :)

Love the service btw!

[2017-09-21 07:45] #283 closed

[2017-09-22 10:12] mqklin commented on #257
@sintaxi DM'd on twitter as well, but no response. Please, whitelist [zerion.io](zerion.io) and [dev.zerion.io](dev.zerion.io). Thank you.

[2017-09-22 10:45] sintaxi commented on #257
OK. I think you all have been added now.

[2017-09-22 12:18] mqklin commented on #257
Thanks a lot!

[2017-09-24 00:30] albertkim commented on #250
This is a problem right now. I have a critical production application that is running on Surge and my customers cannot have any downtime.

[2017-09-25 08:59] sintaxi commented on #250
@albertkim We didn't pick up on the issue but its possible your project is resolving to a legacy edge node. If you let me know your domain Ill look further into it.

[2017-09-25 16:58] jasonkuhrt commented on #257
@sintaxi Not for me:

[code]

[2017-09-25 16:59] jasonkuhrt commented on #196
At least for me this seemingly recently stopped working:

[code]

[2017-09-26 21:18] edwinbsmith commented on #257
Can I get my domain, http://edwinsmith.org/, whitelisted? Thanks!

[2017-09-27 12:00] nwright872 commented on #257
@sintaxi Sent you an email, but would you mind whitelisting mine?

http://nick-wright-lafleur.surge.sh/

Much appreciated,

[2017-09-30 07:23] eddycaldas commented on #257
@sintaxi
 would you whitelist my site please:
https://eddycaldas.surge.sh/
Thank you much @sintaxi

[2017-09-30 21:09] sadsouler opened #284 "Help"
Unable to install "npm install --global surge"

[2017-09-30 22:11] sintaxi commented on #284
what OS, version of node, and npm are you using?

[2017-10-01 12:13] sadsouler commented on #284
I'm using in android

[2017-10-02 05:43] nileshgulia1 opened #285 "gives page not found"
same as #266
I have deployed my project on  http://dapper-foot.surge.sh/  .when opening it gives page not found.I have also included `index.html` file in root still nothing happens.Please Help me.
![screenshot from 2017-10-02 11-10-43](https://user-images.githubusercontent.com/22280901/31065391-945305ca-a762-11e7-8bdc-a9c8a15bf7e5.png)

[2017-10-03 11:50] ntucakovic commented on #257
So sad for abusing such a great tool :(

I've spent hours debugging what might be happening with PDF, thought it was React route bug, never realized that it might be due to host issues... Can you please document it somewhere?

Also, if you can whitelist domains https://ntucakovic.surge.sh & www.ntmedia.me ?
I have cloudflare behind ntmedia.me, so even less bandwidth will be spent for downloading t

[2017-10-05 16:45] oddmouse commented on #257
@sintaxi Would you mind adding [lindy.co](https://lindy.co) to the PDF whitelist as well? Thank you!

[2017-10-06 07:27] nettinero commented on #257
@sintaxi Hey if you don't mind adding abbvie.surge.sh to the PDF whitelist also it would be great! Thank you!

[2017-10-07 00:27] jessehattabaugh commented on #257
@sintaxi please add consciousfreedom.net to the PDF whitelist

[2017-10-08 09:14] sadsouler commented on #284
0 info it worked if it ends with ok
1 verbose cli [ '/data/data/com.termux/files/usr/bin/node',
1 verbose cli   '/data/data/com.termux/files/usr/bin/npm',
1 verbose cli   'install',
1 verbose cli   '--global',
1 verbose cli   'surge' ]
2 info using npm@5.3.0
3 info using node@v8.4.0
4 verbose npm-session 680dd0e4e3bc4e30
5 silly install loadCurrentTree
6 silly install readGlobalPackageData
7 error

[2017-10-10 16:59] kakuevn opened #286 "Site is still online after teardown"
My draft site `http://hirise-draft.surge.sh/` is still online after I `surge teardown` it a couple of days ago.

Let me know if there is something wrong with it.

Thanks!

[2017-10-12 21:18] rlam3 opened #287 "Index page doesn't show up properly."
Index page doesn't show up properly.

Unless you tell it to go to /index
tastycuisine.surge.sh
tastycuisine.surge.sh/index

[2017-10-16 01:53] ThomLaGreca commented on #167
Would you be able to teardown the following please... Iv used the commands (surge teardown [both]) without any luck...

hurried-crowd.surge.sh
hurried-crowd.surge.sh(hannahwarrencreative.com)

[2017-10-16 04:04] ThomLaGreca commented on #230
Would you be able to teardown the following please... Iv used the commands (surge teardown [both]) without any luck...

hurried-crowd.surge.sh
hurried-crowd.surge.sh(hannahwarrencreative.com)

[2017-10-17 05:22] m9491400382 opened #288 "[Attention! Data tampering] Surge.sh is modifying your "robots.txt" file"
1. Upload your original project to surge. The project should have "robots.txt", of course.
2. Then, visit your surge.sh website. Add "/robots.txt" to your URL.

Expected result:
Your robots.txt data.

Actual result:
===
User-agent: *
Disallow: /
===

Surge.sh is clearly doing "data tampering".

[2017-10-17 08:23] sintaxi commented on #288
For obvious reasons we don't permit search engine indexing on our own domain with other users content. Using a throwaway account to file this issue does not compel me believe the policy is incorrect. A `robots.txt` works as expected with a custom domain.

[2017-10-17 08:23] #288 closed

[2017-10-17 08:38] sintaxi commented on #287
The md5 matches regardless of which way its downloaded which matches the header. The problem must be in your application code.

- `curl https://tastycuisine.surge.sh/ | md5` returns `313fe56636d8467884d33a2ee50ae9fa`
- `curl https://tastycuisine.surge.sh/index | md5` returns `313fe56636d8467884d33a2ee50ae9fa`

And checking the headers via `curl -I https://tastycuisine.surge.sh`
[code]

[2017-10-17 08:38] #287 closed

[2017-10-17 08:45] sintaxi commented on #279
Thanks for reporting the fix. Closing.

[2017-10-17 08:45] #279 closed

[2017-10-18 02:23] rlam3 commented on #287
http://tasty-cuisine-nuxt-001.herokuapp.com deployed on heroku with same build and it seems okay...

[2017-10-18 09:45] stereobooster commented on #165
Dropbox link is 404. Superstatic domain is dead - use https://github.com/firebase/superstatic. I want to use this feature to specify HTTP2 push header. Like

[code]

- https://docs.fastly.com/guides/performance-tuning/http2-server-push
- https://blog.cloudflare.com/http-2-server-push-with-multiple-assets-per-link-header/

[2017-10-19 19:31] DanMMX opened #289 "Permission error"
I'm trying to publish to dev.erickreguera.com but can't do it due to a `you do not have permission to publish to dev.erickreguera.com` error.

Previously I did it from my account and succeeded, but changed my computer and can't do it now. My email is drochag1@gmail.com

Can you help me ?

[2017-10-20 02:41] adriaanvanrossum opened #290 "404 page not found when query params ends with file extension"
If I go to my website on surge to this URL: `https://example.com/login?email=test@test.com`, I get this error:

<img src="https://user-images.githubusercontent.com/1079135/31802492-d893dafa-b50b-11e7-9732-43f6510bed85.png" width="450px">

If I go to these URLs it **does** work as expected (no 404):
- `https://example.com/login?email=test@test.com&tralala`
- `https://example.com/?email=test@test.co

[2017-10-20 03:36] sintaxi commented on #290
Thanks for the detailed report. Taking a look.

[2017-10-20 18:25] andreasplesch commented on #223
I am working around this by using recursive wget from the single deploy site PROJECT.surge.sh to get everything, by then adding/replacing subdirectories, and finally backdeploying everything to the site. This adds some, meaning a lot of, traffic so may be not feasible for large projects/frequent deploys but bandwidth is often cheap or included with services like travis.
Just instantiating a site p

[2017-10-22 14:11] sintaxi commented on #290
Just released a fix for this issue. Please let me know if you find any other problems.

[2017-10-22 14:11] #290 closed

[2017-10-23 03:39] adriaanvanrossum commented on #290
Works for me now, thanks!

[2017-10-24 16:10] salomvary opened #291 "Should exit with non-zero status if not configured"
When surge is executed in non-interactive mode (eg. from a CI) and is not properly configured, it exits with zero status suggesting everything went well.

Expected: it should exit with non-zero status signalling a failure.

Version: 0.19.0

Steps to reproduce:

[code]

[2017-10-25 04:02] oujii commented on #257
I'm sorry to hear about the abuse. That sucks. I would really appreciate if my domain could be whitelisted.
carlwaerner.com

Thanks so much.

[2017-10-25 18:08] #289 closed

[2017-11-02 16:17] brandonb927 commented on #286
@kakuevn if you try tearing your site down again does it work?

[2017-11-02 16:19] brandonb927 commented on #285
@nileshgulia1 it looks like you deployed the incorrect folder, I can see a `/build/` path appended to every asset in http://dapper-foot.surge.sh/auto.appcache. When you deploy make sure you specify the `build` folder in your project directory to upload!

[2017-11-02 16:20] brandonb927 commented on #284
That sounds like an issue with npm, it says right in the error message.

[2017-11-02 16:20] brandonb927 commented on #282
@febreroinfo it looks like this is something @sintaxi will have to do in the backend

[2017-11-02 16:21] brandonb927 commented on #280
@justinkan9 you'll have better luck over in the Slack group (https://surge.sh/help/chat)

[2017-11-02 16:25] brandonb927 commented on #277
@Anoop-Goudar try deploying to one of the different regions that Surge supports: https://gist.github.com/sintaxi/670654550d4b30354614c7cfb72d5bf5

[2017-11-02 16:30] brandonb927 commented on #274
@K0ff33 @overint is this still an issue using node v8.9 and latest surge version?

[2017-11-02 16:31] brandonb927 commented on #263
@ghost is this still an issue?

[2017-11-02 17:32] kakuevn commented on #286
@brandonb927 no, it says "Aborted - unable to remove [site]"

[2017-11-03 08:50] nileshgulia1 commented on #285
@brandonb927  looks like i have included homepage in my package.json .after removing it fixes this error. anyways ,thanks for help.

[2017-11-03 08:50] #285 closed

[2017-11-03 16:12] brandonb927 commented on #286
I'd reach out to @sintaxi on the Slack channel then

[2017-11-03 21:27] jessehattabaugh commented on #257
FYI Firebase offers free static file hosting and they allow PDFs https://firebase.google.com/docs/hosting/

[2017-11-06 15:45] K0ff33 commented on #274
@brandonb927 nope, all works perfectly fine.

[2017-11-06 15:45] #274 closed

[2017-11-08 04:29] sintaxi commented on #274
Sorry, should have closed this ticket. Thanks @K0ff33

[2017-11-08 13:07] aashutoshrathi opened #292 "Add Favicon"
If we have a logo, better we add favicon.

[2017-11-09 19:56] realseanp opened #293 "⚠️ WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable"
ALERT: `npm WARN deprecated tar.gz@0.1.1: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjcom/tar`

[2017-11-10 03:48] MaxShalom opened #294 "Not working"
Followed tutorial, added very simple Index.html file and ran surge in the command line to get the confirmation: Success!

However, as you can see in the picture below, i get a 404 and the website is not found.

![image](https://user-images.githubusercontent.com/23295246/32642072-dd35e3f6-c59f-11e7-8a2a-1b1605031e06.png)

What can I do to fix my problem?

Thanks

[2017-11-10 04:14] HaoZeke commented on #257
Hi @sintaxi, could you whitelist zenyoda.surge.sh ?

I use it to show-off a pandoc based presentation system...

[2017-11-13 07:33] iamrkcheers commented on #257
Could you please whitelist the following url as well ..
'fortificationbeta.surge.sh'
We're using it for demonstrating this soon-to-be-build application of ours.

[2017-11-15 17:08] kiwiupover commented on #293
@sintaxi @djanowski I have this issue reported on the [ember-cli-surge](https://github.com/kiwiupover/ember-cli-surge/issues/104) project also.
https://github.com/kiwiupover/ember-cli-surge/issues/104

[2017-11-17 00:58] RedTn commented on #237
@sintaxi I was checking with a co-worker, we had the same issue even though the email was being sent but when we do "surge list" it wasn't showing he had access.

But, we did determine it was because the emails are case-sensitive :(

[2017-11-18 10:56] evgeth commented on #257
Could you please whitelist zerion.io again?
Seems that it stopped working for some reason.

[2017-11-19 08:49] mqklin commented on #257
We've migrated to Firebase because of this problem

[2017-11-20 12:08] RMCoder198 commented on #294
Its working .
http://wide-pets.surge.sh/

[2017-11-20 16:16] codejet opened #295 "Deployment always gets stuck"
I just started using surge earlier. Verified my email and wanted to deploy a small Gatsby project (I'm running macOS sierra and using iTerm). I ran the surge command, giving it the public directory.  But the deployment always gets stuck at the point where it shows the domain.

[code]

When I abort it says "Please try again with a valid domain name."

I already went through the issues here but foun

[2017-11-20 19:41] #295 closed

[2017-11-23 19:05] MaxShalom commented on #294
It has been fixed.

[2017-11-23 19:05] #294 closed

[2017-11-24 21:04] SharpieLovenit opened #296 "CNAME not working..."
I just installed Surge for the first time on my Windows 10 machine and everything is working fine except that for some reason it doesn't use my CNAME file:
[code]
Passing the domain with the -d parameters works fine though.

Any thoughts?

[2017-11-25 21:48] SharpieLovenit commented on #296
... after some digging around in the surge discovery.js file and turning on debugging I eventually realized my CNAME file was encoded in UTF-16, which was giving the issue.

I used the echo > CNAME redirect example from the Surge documentation to create the CNAME file from my Windows Powershell and it turns out the default encoding for redirects in Powershell is UTF-16...

[2017-11-25 21:48] #296 closed

[2017-11-26 11:49] valoricDe opened #297 "Umlauts in Domain or Filename"
Hi,
when I deploy to a domain with umlauts (äöü) the domain is accesible but no pages underneath the subdomain.
when I deploy files with umlauts to a normal domain the file with umlauts is not accesible (example is http://javopics.surge.sh/pages/Ausr%C3%BCstung.html)

[2017-11-28 19:18] sintaxi commented on #257
Hey all, sorry this is a frustrating issue. Just a reminder to get whitelisted you need to DM your email address to the @surge_sh twitter account.

[2017-11-28 19:50] eddycaldas commented on #257
hello,

the address is https://eddycaldas.surge.sh/. Allow google doc and pdf please.

Thank you much

Eddy Caldas

________________________________
From: Brock Whitten <notifications@github.com>
Sent: Tuesday, November 28, 2017 12:18:56 PM
To: sintaxi/surge
Cc: eddycaldas; Comment
Subject: Re: [sintaxi/surge] pdf files return 404 (#257)

Hey all, sorry this is a frustrating issue. Just a reminder

[2017-12-05 21:01] thebetterjort opened #298 "Error: self signed certificate in certificate chain"
Error: self signed certificate in certificate chain
    at TLSSocket.<anonymous> (_tls_wrap.js:1103:38)
    at emitNone (events.js:106:13)
    at TLSSocket.emit (events.js:208:7)
    at TLSSocket._finishInit (_tls_wrap.js:637:8)
    at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:467:38)

Running gatsby build .. cd public/ surge renders this..
My corporate proxy has SSL decrpytion. Surge will not tru

[2017-12-08 16:05] kyler-hyuna commented on #186
Any progress on this? Currently looks like this in ci
![Uploading Screen Shot 2017-12-08 at 12.05.21 PM.png…]()

[2017-12-09 17:16] ddiez31 commented on #257
Hello @sintaxi Would you mind adding http://david.diez.surge.sh/ to the PDF whitelist as well?
Thank you much

[2017-12-12 23:33] rpreilley commented on #257
I just switched to surge and I am in love with the simplicity of the setup. However, I was having this same issue and finally came across this page.

I could really use the ability to have a pdf on my page, as it is for my portfolio and gives easy access to my resume for recruiters without having to request one from me.

If possible, could you please whitelist my site to have this ability. robertr

[2017-12-28 06:39] febreroinfo commented on #282
Thanks @brandonb927. @sintaxi will you be able to assist regarding this matter? It would be greatly appreciated.

[2017-12-30 14:10] tavioalves opened #299 "Whitelist"
Hello, can you please whitelist my domain?

It's ezpeed.surge.sh

Thank you!

[2017-12-30 14:10] #299 closed

[2017-12-30 14:14] tavioalves commented on #257
Can you please whitelist my domain?

ezpeed.surge.sh

Thank you!

[2017-12-30 19:36] MrXop commented on #257
Happy New Years sintaxi,

Can you please whitelist our domain? www.trulyprotect.com

Thanks!

[2018-01-02 18:12] namminammi opened #300 "Failed to load resource: the server responded with a status of 404"
I've deployed my [React app](http://qq4.surge.sh) and it's getting "Failed to load resource: the server responded with a status of 404" error, and none of css or js is loading. I'm using the [create-react-app boilerplate ](https://github.com/facebookincubator/create-react-app) and deploying from my-app/build. It works properly in my localhost:3000. What could be the issue?
<img width="1167" alt="s

[2018-01-02 20:14] PreetiBasavarajhooli opened #301 "whitelist my webpage | pdf is my Resume"
Hello,
Could you please white my webpage
https://preetibasavarajhooli.github.io/website/
PDF is my Resume.
Regards,
Preeti

[2018-01-02 20:16] #300 closed

[2018-01-02 20:19] namminammi commented on #300
It happened that the build command didn't remove the root folder from the path and once it was removed index.html could locate all resources again.

[2018-01-03 21:05] Almusamim commented on #196
I'm getting **connection is not secure** message with the free SSL offered with surge!

[2018-01-03 21:08] sintaxi commented on #196
@Almusamim please send over more info so we can look into it.

[2018-01-03 21:32] Almusamim commented on #196
@sintaxi what info should I provide u with? :)

You can check the website: https://goo.gl/LzfZNj
Thank you

[2018-01-06 22:01] jblacklock commented on #257
Hello @sintaxi!
Can you please whitelist www.jesseblacklock.com?
I would super appreciate it!
Thanks!

[2018-01-06 22:07] sintaxi commented on #257
@jblacklock @MrXop @tavioalves done.

[2018-01-07 08:34] elwayman02 commented on #293
Any movement on this? Any project that uses surge, even just for its demo app, is going to cause concern among developers when they see a giant security warning on github due to this dependency.

[2018-01-09 14:29] antoine-hebert-ia commented on #298
Same here

[2018-01-14 19:27] walchko opened #302 "surge.sh not hosting pdf files"
Maybe I have missed it in the docs, but my website's pdf files are not being hosted. How do I fixe that? Or is it a bug?

[2018-01-14 22:14] walchko commented on #298
It is probably your corporate firewall. I have seen this before and if you talk with your IT people, they should be able to allow traffic through the firewall to surge.sh without messing with it.

[2018-01-15 21:37] robhirstio commented on #257
Hi @sintaxi,

Could you please whitelist http://robhirst.io/? I would greatly appreciate it.

Thanks!

[2018-01-16 19:26] elwayman02 commented on #293
Might as well make a PR and see if it passes in CI. Could be a local issue.

[2018-01-17 02:59] sintaxi commented on #293
Thanks for talking a look at this. Ill have a peak at your branch. I have a fairly big release in the works. Ill make sure a fix for this issue gets included.

[2018-01-17 15:46] tipoqueno commented on #142
I have the same issue because I write my domain next to the proposed. How can we teardown that?

[2018-01-18 07:31] eric-ls commented on #257
Hello @sintaxi, can you whitelist http://ericls.com? Thanks!

[2018-01-20 22:25] konaraddio commented on #257
Hi @sintaxi , can you please whitelist http://omkar.surge.sh? Thanks in advance!

[2018-01-20 22:26] konaraddio commented on #302
See this: https://github.com/sintaxi/surge/issues/257

[2018-01-22 08:05] kunall17 commented on #257
Hey @sintaxi I have to upload my resume pdf on my site so please add http://kunall17.com to the list! :)

[2018-01-22 23:47] jklegseth commented on #295
@codejet would have been great to add what you did to solve this before closing.

[2018-01-23 10:24] sintaxi commented on #257
@robhirstio, @eric-ls, @konaraddio, @kunall17 Thanks for waiting. yall should be good now.

[2018-01-23 12:41] kunall17 commented on #257
Thanks for adding :)

[2018-01-24 03:01] zimbeta commented on #257
@sintaxi Another resume site here. Can you please whitelist [tinyvibrations.com](http://tinyvibrations.com/) and [zimbeta.com](http://zimbeta.com/)? Many thanks!

[2018-01-24 12:56] balupton commented on #293
Is it possible to clone the repo, merge the PR, and do a patch release? Then at a later point, do your big release changes?

As right now, any project that has surge as a dep or dev dep, is getting security notifications from github delivered to the maintainers of the repos.

So getting this fixed immediately would save a lot of time for all the devs that depend on your package.

[2018-01-25 21:54] TrevBo25 commented on #257
Hey @sintaxi I'm just following trend here. Can you whitelist my portfolio site http://trevthedev.surge.sh/ I would like to have my resume view-able.

[2018-01-27 22:00] marktheis commented on #257
@sintaxi Could you whitelist my portfolio as well? markthe.is

[2018-01-30 16:54] ryanmjacobs commented on #257
@sintaxi Hi can I get my domain whitelisted? I really would like to continue hosting my resume.

CNAME is rmj.us

[2018-01-31 12:06] sintaxi commented on #257
@zimbeta @TrevBo25 @marktheis @ryanmjacobs all set!

[2018-02-02 07:51] jadiego commented on #257
@sintaxi Can i also get my domain whitelisted? [jadiego.me](http://jadiego.me/) It's also a portfolio site. Thanks!

[2018-02-08 11:02] HarryAdney commented on #179
Hi everyone.
I'm completely new to this, so aware that, y'know, PICNIC, but I'm getting the 404 too.

Steps taken:
========
In the build folder:
Copied index.html to 200.html
ran surge again
Still 404.
In browser, went to <mydomain\..surge.sh/build
Blank page!! No 404.
View source code: shows the 200.html

[2018-02-09 22:39] FullstackJack opened #305 "Deployment always hangs."
The `surge public/` command recommended in the Gatsby documentation hangs. I signed up using the `surge` command and verified my email address.

[code]

The process never finishes so I am forced to CTRL + C. When I do, the following message shows up:
`Aborted - Please try again with a valid domain name.`

No word on if it is caused by my corporate firewall but it might be.

MacOS 10.12.6

[2018-02-09 22:46] FullstackJack commented on #305
Alright, I can publish from the app root, but that takes the src and everything else to the server. Public will not copy on it's own.

[2018-02-11 22:12] denaillc commented on #257
Hi can you whitelist my site too ? cldn.surge.sh . Thanks 👍

[2018-02-13 02:40] brayhoward commented on #257
Sorry to hear about all the abuse. Can I get [http://eastnashvillerestaurantweek.com](http://eastnashvillerestaurantweek.com) added to the whitelist please?

Thanks in Advance! 🙏

[2018-02-15 07:49] elwayman02 commented on #293
Any update on this?

[2018-02-15 09:50] balupton commented on #293
Just to emphasise the annoyance of this. I have dozens of repos that have surge as a dev dep. And for each update posted for them, myself and the other maintainers get these alerts:

<img width="752" alt="screen shot 2018-02-15 at 5 44 48 pm" src="https://user-images.githubusercontent.com/61148/36250218-227942e4-1278-11e8-9baf-8bcfaa20e3e2.png">

<img width="1006" alt="screen shot 2018-02-15 at 5

[2018-02-15 10:01] sintaxi commented on #293
Working hard on getting this release ready and I agree this is very annoying. Please air your grievances with github because this warning is a false positive and unnecessary in the context of how surge uses the tar lib.  Github is overreaching and its extremely frustrating as a library author.

[2018-02-15 10:16] balupton commented on #293
@sintaxi I understand, much love to all open-source maintainers ❤️

[2018-02-20 20:04] callumprentice commented on #257
May I please have my own, personal site whitelisted - callum.surge.sh - thank you!

[2018-02-22 03:53] panashemahachi commented on #257
Can .I get l4.ventures added to the whitelist? Thanks!

[2018-02-22 05:58] cdunlap commented on #237
Is this supposed to re-deploy the project again? That's all this does for me. Looking at the instructions on https://surge.sh/help/adding-collaborators it doesn't seem very clear whether or not it is supposed to completely re-deploy everything. Simply running `surge --add <email address>` produces prompts for the project and the domain again, just like an initial deployment. If I supply those in t

[2018-02-22 06:00] sintaxi commented on #305
pretty sure you just need to hit `enter`. because you did not pass in a domain you are being prompted with `clammy-club.surge.sh` as a suggestion.

[2018-02-22 06:00] #305 closed

[2018-02-26 01:31] vernilli commented on #257
@sintaxi Could you whitelist my portfolio? http://vernilli.com/

Thanks

[2018-02-28 15:31] Haskiez commented on #257
@sintaxi Hey sorry about all the abuse that's been happening. I have a few pdf to upload for my schools development club. Could you whitelist our domain? http://uvudevclub.org/
Thanks in Advance

[2018-02-28 22:51] madhavrathi commented on #257
@sintaxi Could you please whitelist my portfolio : http://madhavrathi.surge.sh/
Thanks in advance.

[2018-03-02 23:41] TmszLBmrv opened #306 "surge list doesn't work as expected"
For some reason, "surge list" command returns list of [object Object], instead of domain names.

[2018-03-02 23:43] sintaxi commented on #306
Yeah, we made an update that will need a patch for older surge clients. There was a new release of surge that fixes this. I suggest upgrading `surge` or waiting for the patch.

[2018-03-03 00:17] TmszLBmrv commented on #306
My bad. Updated, and works perfectly.

[2018-03-03 00:17] #306 closed

[2018-03-03 17:18] MightyRevenge opened #307 "Surge List not working"
![1 bash 2018-03-03 12-17-32](https://user-images.githubusercontent.com/5233993/36937144-e9989954-1edc-11e8-92a3-d019717913f1.png)

Surge list just shows [object Object], the data hasn't been converted properly for viewing? I can PR.

[2018-03-03 23:57] TmszLBmrv commented on #307
It's been fixed. Update surge to newest version.

[2018-03-04 09:11] jamiedarcher opened #308 "Whitelist my site for PDF delivery"
Hi I need to be able to have my CV downloadable via PDF link you please whitelist jamiearcher.co.uk

[2018-03-05 13:10] plumpNation commented on #307
I had the same issue.

I did a npm uninstall and reinstall to upgrade. Ran `surge list`.

[code]

nodejs 9.3.0
npm 5.6.0

Thanks for the tool, I've not had any issues before.

[2018-03-07 13:18] jacques opened #309 "Cannot publish from node 0.8.10 with surge@0.20.1"
I keep getting:

[code]

[2018-03-07 13:34] giacomoalonzi commented on #309
Same problem here, I rolled back to 0.19 but surge not upload updated file
[code]
any hint?

[2018-03-07 14:05] leewp14 commented on #309
Finally someone same with me. This happened to me when I'm halfway deploying my website.
And I tried to relogin into surge by logging out, and now couldnt login back again :cry:
![screenshot_2018-03-07_21-09-41](https://user-images.githubusercontent.com/17796518/37096442-91fedd96-2253-11e8-8cf7-8dfa7f2e9379.png)

[2018-03-07 14:09] Uyer opened #310 "Can´t deploy can´t teardown."
I can´t view my webpage after deploying and I can´t teardown it either.

[2018-03-07 14:11] #310 closed

[2018-03-07 15:56] balupton commented on #309
Title should be updated as this is not just node 0.10

[code]

[2018-03-07 17:17] leewp14 commented on #309
here is node 8.9.4
[code]

[2018-03-07 17:50] balinterdi commented on #309
I also have problems, Surge doesn't deploy the updated assets.

[2018-03-07 19:10] sintaxi commented on #309
A DNS issue was just resolved. This was human error on my part.

There may still be an issue with `surge list` on some accounts that is a separate issues though. Let me know your findings if your still see things that are broken.

[2018-03-07 22:52] klode opened #311 "error running surge"
Today I pushed an update to my surge website, the command was successful but the update was not reflected on the site.

I then tried to push on a new domain name but got
[code]

Also "surge list" command was  not working giving the following error
[code]

So I tried to npm -g uninstall surge and inpm -g install again. Now "surge" command  fails with the following  Error

[code]

[2018-03-08 01:42] yaodingyd opened #312 "list giving [object] instead of actual connect"
version: 0.19
issue: `surge list` gives a list of `[object Object]` instead of strings.

[2018-03-08 08:28] giacomoalonzi commented on #309
Fixed for me on 0.19!

[2018-03-08 20:18] klode commented on #311
this is now working.

[2018-03-08 20:18] #311 closed

[2018-03-09 00:38] jineshshah36 opened #313 "Certficate expired error"
No matter what I try to do from the cli, I get this:

<img width="737" alt="screenshot 2018-03-08 19 19 12" src="https://user-images.githubusercontent.com/6501089/37184229-3a8155a2-2308-11e8-8df3-0de060da3cdf.png">

[2018-03-09 00:46] guioconnor opened #314 "Cryptic error message on CLI"
Sorry if this is documented somewhere, I couldn't find any relevant reference to this problem.

Since today, my Travis build has been failing to deploy with the message below, I tried to do a local deploy from my machine and the same happened. After logging out and trying to log back in I get this error when I attempt to login, so I'm currently logged out on the CLI.

[code]

[2018-03-09 01:10] nk1tz commented on #313
Having the same problem.

[2018-03-09 01:11] nk1tz commented on #314
duplicate of [313](https://github.com/sintaxi/surge/issues/313)

[2018-03-09 02:18] fbonetti commented on #313
Same problem. I can't deploy.

[2018-03-09 05:26] sintaxi commented on #313
Resolved. FWIW - This only affected the deployment server.

[2018-03-09 05:26] #313 closed

[2018-03-09 05:26] sintaxi commented on #314
Resolved.

[2018-03-09 05:26] #314 closed

[2018-03-09 06:50] EliotSlevin commented on #312
Quick fix for me - `npm install surge@0.20.1 -g` . The new surge list looks great btw, love the dates!

[2018-03-09 14:20] yaodingyd commented on #312
@EliotSlevin Thanks! It works for me.

[2018-03-09 14:20] #312 closed

[2018-03-10 08:44] sivasubramanian1995 opened #315 "Can't run surge"
I have installed surge cli on my Linum Mint pc. When i try to run surge i get
"surge: command not found"

[2018-03-12 02:15] #315 closed

[2018-03-13 19:06] Lisamarie73187 commented on #257
@sintaxi can you please whitelist my portfolio as well. http://lisamarieherzberg.surge.sh/!
Thank you!

[2018-03-14 23:27] bomatson commented on #257
would you mind whitelisting http://fewd.club/? Thanks!

[2018-03-17 04:54] kearnie commented on #257
hello, may you please whitelist [kearnie.com](url) please? the pdf is my resume-- thank you!

[2018-03-17 20:12] beenotung commented on #282
I have the same issue, can the cli allow space in the input?
`\ ` or quoted by single/double quote

[2018-03-17 20:13] beenotung commented on #282
in the latest version of `surge list`, I see an id beside the domain name, I tried to teardown the site using the id but it raise an error
[code]

[2018-03-19 02:30] langsor commented on #259
👍

I have a similar interest where I would like to deploy via script.
I've tried using the token approach
[code]
but that works locally only if I'm already logged in. I'm not sure how to login via script alone.
I seem to be caught up in trying to interact with the surge CLI script and that is inelegant.

Related for me is running `surge` from a local directory, not installed globally on my machine

[2018-03-20 06:49] pratyushpoddar commented on #212
Any updates?

[2018-03-20 06:57] mickr commented on #257
Guess I'll add on, can you please whitelist evilbits.io. Thank you!

[2018-03-20 19:41] fernandaStudio opened #316 "PDF file - 404"
Hello. I am using your surge.sh hosting service. I have one pdf file (resume) that I would like to give users access to. I am getting the 404 alert. I did see on a post that you whitelist certain sites. What are my options, please? fernanda-studio.com

[2018-03-22 03:40] christopher-wong commented on #257
@sintaxi could you whitelist https://christopherwong.co? I want to link my PDF resume.

[2018-03-22 04:00] darron commented on #257
@sintaxi Can you please whitelist these domains please:

www.divescapes.ca
divescapes.ca

Thanks!

[2018-03-26 15:01] skoldborg commented on #307
I'm having the same issue and I'm on the latest version (0.20.1).

[2018-03-28 17:53] danielmahon commented on #295
To anyone who got here... the `domain: something.surge.sh` line is interactive (the terminal cursor is at the end of .sh), you can either modify the domain (backspace and type) or just hit enter to stick with the default.

[2018-03-28 19:09] er3n commented on #257
Can you please whitelist these domains please:
www.bagimsizarabuluculardernegi.org

[2018-03-29 01:30] christopher-wong opened #317 "Can't remove domain name from Surge account"
At one point I tried posting to a domain name that was already taken, but because of a capitalization difference it went through.

Now I can't seem to remove "Fusion.surge.sh" from the list of my sites. I am not the owner of "Fusion.surge.sh"

`1483193044369 Fusion.surge.sh               1 year ago      unknown   surge.sh   Standard`

[2018-04-04 00:34] kajoban commented on #257
can you please whitelist kajoban.surge.sh ? Thank you, love your service!

[2018-04-04 13:44] hkedia321 commented on #257
@sintaxi Please whitelist my domains: harshitkedia.tech and marimuthuk.com

[2018-04-05 14:57] bsradcliffe commented on #257
@sintaxi Can you whitelist benradcliffe.com? Hosting resume and portfolio works. Thanks!

[2018-04-10 12:14] sbstnplcn opened #318 "Cache problem while updating a current project"
Hello,

I have a cache problem while updating a current project.
I need to teardown the project, then recreate it to have the last version of my code available online.

Any idea ?
Thanks

Working on Vue.js and Quasar PWA framework.
Node v9.8.0

[2018-04-10 12:16] sintaxi commented on #318
That's strange. Can you show me steps to reproduce the problem?

[2018-04-10 22:02] cdunlap commented on #246
So is the fix to have you manually remove a website @sintaxi? I just did it with one of mine and experienced the same problem: site still exist and can't remove it twice. There is another open issue with the same problem: #286 might be some others.

Is there a plan to fix this? Or is there a reason you want to keep sites around after teardown?

[2018-04-11 07:35] rainstormza commented on #246
@sintaxi my site still public after teardown.
site : sansiri-survey-demo.surge.sh

I tried surge list and it doesn't have my site in list.

[2018-04-11 08:44] Articuno1234 opened #320 "startup error"
[code]

[2018-04-12 11:58] Lupshenko commented on #318
I have exactly the same problem

How to reproduce:
1. Deploy an example site (I deployed it with one empty text file "a.txt")
2. Delete one random file from the project (in my case "a.txt")
3. It will be still there

How to fix it temporarily:
1. Try redeploying the site again (1-3 times in my case)

[2018-04-12 12:15] sintaxi commented on #318
@Lupshenko thanks. Can you let me know what version of surge you are on? and what OS you are using? Cheers.

[2018-04-12 13:09] sintaxi commented on #318
Thanks for your help. I've been able to implement a fix. Please reopen if you still have issues.

[2018-04-12 13:09] #318 closed

[2018-04-12 16:09] Lupshenko commented on #318
Still occurs for big files. I used a 7mb tarball and an urandom filled 30mb raw file. Everything was tested on a RAM disk under Arch based GNU/Linux distro with curl and Surge 0.21.0

[2018-04-13 13:59] Lupshenko opened #321 "Big files caching problem"
Surge still have a problem with file caching (after uploading, deleting or updating) but now it occurs only on big files and gets worse as the file size increases

The files I used to test this are attached. To upload the first, I have to deploy the site, wait about a minute and redeploy it again. For the second, I have to do the same but wait much longer

Some data, maybe it'll help:
OS: Arch bas

[2018-04-13 15:20] baristaGeek opened #322 "Problem deploying to a specific URL"
I've been using surge for the past 2 months and during this time it hasn't presented any issues when deploying to certain URL. However, I recently deployed some code to such URL and to my surprise the deployed version of the code was the previous one (despite surge notifying a successful deploy). I thought that it might have been a problem with the browser's cache, so I decided to clean it and the

[2018-04-13 18:52] sintaxi commented on #321
Thanks for reporting. We have been in contact with Digital Ocean provider and they saw issues with the CPU load of on one of our machines so the have migrated it to a better location. That should take care of this problem. Please let us know if you still see the problem.

[2018-04-13 18:52] #321 closed

[2018-04-13 19:22] #322 closed, assigned to nobody

[2018-04-13 19:48] sintaxi commented on #322
A lot has happened on our backend this week. I see you closed the ticket but if your still looking for an explanation I'll review and get back to you on this.

[2018-04-13 20:29] baristaGeek commented on #322
@sintaxi thank you so much for your response! I did see your Twitter and saw on StackOverflow people with similar issues. I just re-deployed a few hours later and that was it.

[2018-04-16 05:10] logicware opened #323 "Not updating my site."
It stops updating the site for some reason and then fixes itself if I keep deploying again and again.

[2018-04-17 13:14] yumyo commented on #323
similar issue today

[2018-04-17 14:00] tehjnito commented on #323
I've had a similar issue for a few days too....but my site never changes any at all

[2018-04-18 00:55] swiggs commented on #323
same here, issues with deploying and teardowns.

[2018-04-18 00:59] sintaxi commented on #323
Thanks for reporting. This is a new issue with our messaging system that propagates messages and cache expires to all our regions. We are currently implementing instrumentation to measure which machines are temperamental so we know what to replace. We'll also add redundancy to messages that fail.

[2018-04-18 09:48] kwiss commented on #323
same here too

[2018-04-19 05:19] izanf opened #324 "Surge list not working"
The command `surge list` is not working, the return of the command is `
      [object Object]
      [object Object]
      [object Object]
      [object Object]
      [object Object]
`

[2018-04-20 19:03] jakebian commented on #257
Hi, can you whitelist jake.run?

[2018-04-21 01:27] cipman opened #325 "'project not found' when using utf-8 characters"
I get  `project not found` if I use some utf-8 characters for folder names.
I had a `surge.sh` website made with `jekyll` running until about 10 days ago. Today I got `project not found` instead of the home page. So something happened in last 10 days or so on `surge.sh` servers.

To reproduce:
1. deploy, upload and test a `jekyll' project as per [https://surge.sh/help/deploying-a-jekyll-project](h

[2018-04-23 09:13] sintaxi commented on #324
@matteodem upgrade to latest version of surge. let me know if its still an issue.

[2018-04-23 09:27] matteodem commented on #324
Oh okay that helped. Thanks!

[2018-04-23 09:28] sintaxi commented on #324
hmmm, I wonder why `npm update` didn't work. /shrug

[2018-04-23 09:28] #324 closed

[2018-04-24 02:32] andrewheppner commented on #323
Hi there is there any update on this situation?? I'm seeing the exact same behaviour.

[2018-04-24 02:35] sintaxi commented on #323
We've rotated servers again and many have reported the issue is resolved. Still implementing the metrics to measure the communication validation between machines.

[2018-04-24 02:39] sintaxi commented on #323
I can confirm that the issue is not with the deployment failing but with old cache not getting blown away. The edge nodes are designed to run even when disconnected from the surge network which means if the communication of the machines fails you end up with stale caches on the edge nodes.

As a temporary measure we may add a command to the CLI to blow away the cache. Would that make sense to you?

[2018-04-24 03:39] andrewheppner commented on #323
sure that would work for me.. getting the site updated is my main priority, however you see fit. Thanks for the prompt reply, great product!! I love it.

[2018-04-24 15:20] tehjnito commented on #323
I can also confirm that the issue I had is now fixed. My site got updated the last time I tried.

[2018-04-25 14:59] cipman commented on #325
I just checked and it seems the issue has been fixed, http://issue325.surge.sh/ is now showing what it should.
I'll close this issue but won't `teardown` the above website for a while.
Thanks whoever fixed it.

[2018-04-25 14:59] #325 closed

[2018-04-28 10:46] Articuno1234 commented on #320
HELP ME

[2018-04-28 12:06] sintaxi commented on #320
Hey, are you on the latest version of surge? Try running `npm install -g surge`.

[2018-04-28 13:42] dan2600 commented on #257
love surge, only have one, so just moved my pdf to another cdn. However, could you all include a warning somewhere about PDFs? There are people like me who do **way** to much work before finally googling "surge.sh pdf not working" and find this thread.  :-p

[2018-05-02 05:26] aowongster commented on #320
I am also running into this issue. I just installed surge.

I'm using NVM on OSX
[code]

[2018-05-03 02:55] aowongster commented on #320
Thanks, @sintaxi I upgraded to `v6.6.0` and surged deployed just fine.

[2018-05-05 06:39] Articuno1234 commented on #320
how do i update minimatch?

[2018-05-05 06:40] Articuno1234 commented on #320
and its still showing the error

[2018-05-06 17:45] forrestblade opened #326 "Teardown by id"
Simply now possible and seems to be the only way to get rid of old deployments that may have been messed up in the typing of the url to deploy to. Any help resolving this quickly would be greatly appreciated by the community.

[2018-05-08 12:45] skube opened #327 "How to update? Running `surge public/` multiple times creates new domains."
I can publish to a surge domain by running `surge public/`.

I make changes in `public/`

How do I now update the surge domain?

Running `surge public/` simply creates a new, random surge domain.

What am I not understanding?

[2018-05-08 13:25] sintaxi commented on #327
pass in a second argument eg. `surge public mydomain.surge.sh`

[2018-05-08 13:25] #327 closed

[2018-05-08 13:57] skube commented on #327
Thanks. 😄

Seems to me this could be a slightly better and more intuitive experience.

Something like `surge public update` would 1) save having to remember the domain used and 2) prevent having to type in the long domain.

[2018-05-09 03:26] sintaxi commented on #327
Your can add your domain to a `CNAME` file in the root of your public folder and it will get picked up giving your the experience you want.

Also the following accomplishes the same thing...

- `surge --project public --doamin example.com`
- `surge -p public -d example.com`
- `surge public example.com`

The CLI design is intended to mimic the `mv` command in unix https://www.computerhope.com/unix/

[2018-05-09 15:19] huwd commented on #326
This one has been outstanding for a while #230

[2018-05-12 02:00] sebbean commented on #257
can you whitelist: http://bean-listen-unmoored.surge.sh ?

[2018-05-13 15:28] MichaelrMentele opened #328 "surge list displays [object Object] instead of domains"
![image](https://user-images.githubusercontent.com/9519712/39968821-f131a3f8-5687-11e8-9551-59db90317c8e.png)

This should be displaying some useful information.

[2018-05-14 01:43] sintaxi commented on #328
you need to update `npm install -g surge`

[2018-05-14 01:43] #328 closed

[2018-05-14 15:00] franky47 commented on #257
@sintaxi could you please whitelist my wife's home page (her CV is in PDF) at https://penelopebuckley.com and my own (same reason but not yet deployed) at https://francoisbest.com ?

Thanks a lot !

[2018-05-14 19:26] smed79 commented on #320
fixed for me
[code]

[2018-05-16 17:55] matyasfodor commented on #257
It's very easy to bypass this filter, by simply using a different extension. If someone wants to do something malicious, they'll do this extra mile. (changing the extension on the frontend is very easy) I'm not quite sure if this ban on pdf files makes sense since this is a bunch of extra work for you seeing the number of requests. I also lost 20 precious minutes at least trying to figure this out

[2018-05-16 18:02] silentrob commented on #257
Why not just make supporting PDF's a paid feature?

On Wed, May 16, 2018 at 10:55 AM, Mátyás Fodor <notifications@github.com>
wrote:

[2018-05-24 07:57] dancomanlive opened #330 "Surge deployment React Static"
https://github.com/GraphCMS/graphcms-examples/issues/3

[2018-05-24 08:55] sintaxi commented on #330
Great. Thanks for reporting back.

[2018-05-25 18:28] matthodgson commented on #295
@danielmahon Thanks for posting this. I feel pretty dumb for not noticing that.

[2018-05-25 22:52] jonnyburch commented on #307
Still getting this issue. How do I fix?

[2018-05-27 17:49] Lupshenko opened #331 "Bad Unicode password support"
Surge can't handle long full Unicode passwords

How to reproduce:
1. Create a fake account
2. Remove the .netrc file to lost the password
3. Recover the password with Forgot? (yes) from the CLI
4. Change the password in the web interface to something like 󷨞ꦐ򝎦򼷌򬔕㣋񼺫󄝊󌔭󓅪𡫯𮋥򃙛򈴸򍜋𿓺񈁅򦣓썾󟸙򗴄򅫚񧏨𦉗幼񎿗򮐟򔃮󩉖񑹤󎾊󤹊򀞸󬮒𤽋􁛍􄰮񄵜򹹻󾕒񺨠򾟷𭼧󛫯󼮢󁭇𳃊﹙𔌫蘋𷕻򄚺􍸌񪫁󟽑󒵷񦢰󙩥󥇥󝌥񿌬󍏶񅊗򱄡񣔭񙯁𧔒񵴭򛼋򉁈󹣋􎚜󉘂󚚷󵗝򣉸񆯁񡣇𛵖󬸔򄘻󴆷􈃐򀫮񩄹󷛮񚟾򅛀𖋸񦡟񰪿򰱡󂬥񤿜񰺐򤡪񱵋𓢋򣈩󔑽񙑲򗸅𩝞񳏑򆸛򭡵𾪬𡘁󇊈񲐎𔱗𸻙􎠶񱧡񌢐󛇻񔵠񽖴𩸨􈐺󀗨􊘖򎺕񃒚𨢄𯻓򑁠􊠙򨖿𰎿𽍯󴅥􍙺񼄀򮍍􀏷񐓱𕆘𥙘􇩛󸋖󵴹򦑎

[2018-05-28 07:40] MohammedAijaaz commented on #257
Please white list https://aijaaz-expo.surge.sh, I jushave 2 pdfs. Thanks

[2018-05-28 07:53] MohammedAijaaz commented on #257
@sintaxi it would be awesome if there was a certain limit on the number or size of the PDFs that way there would be no hassle with this.

[2018-05-28 13:27] k1r0s opened #332 "wat"
$ surge list

[code]

[2018-05-29 03:16] sintaxi commented on #332
are you on the latest version of surge? `npm install -g surge`.

[2018-05-29 03:16] #332 closed

[2018-05-29 06:50] k1r0s commented on #332
I just said, yes

[2018-05-29 06:50] k1r0s commented on #332
however this issue is solved. I tried many times till it was success :\

[2018-05-29 10:44] k1r0s commented on #332
Aborted - Unable to remove qmenta-preview.surge.sh.

But qmenta-preview.surge.sh is still online

What I can do to solve this?

[2018-05-29 10:46] k1r0s opened #333 "Remove old sites from surge fails"
Yesterday I removed lots of surge sites.

CLI said that this was successful but site was still online.

This morning I checked that the site __continues to be online__ but trying to remove it with the CLI fails

`Aborted - Unable to remove qmenta-preview.surge.sh.`

What I can do to solve this?

[2018-06-03 19:27] sarbazx opened #335 "No logon or sign up prompt."
Hi, first time using surge when running surge on macos 10.13.4 there no any command prompts. like this:
![screen shot 2018-06-03 at 22 25 25](https://user-images.githubusercontent.com/5629946/40890346-3a9a58f4-677d-11e8-9816-2ee3a7139a41.png)

[2018-06-04 11:42] sarbazx commented on #335
anybody?

[2018-06-04 11:46] sintaxi commented on #335
Have you tried with a different terminal theme?

[2018-06-04 15:27] sarbazx commented on #335
@sintaxi yes, same still.

[2018-06-04 21:02] sintaxi commented on #335
ok, thanks for reporting. If you can provide any more information let me know.

[2018-06-07 12:17] ashri commented on #257
@sintaxi could you please whitelist our community kindergarten web site?:

[https://www.seaviewkindy.com.au](https://www.seaviewkindy.com.au)

Our application form is a PDF and so are our information on the intake boundaries.

Thanks for the excellent service.

[2018-06-10 07:10] rechutox commented on #257
Please could you whitelist tribality.surge.sh? My CV is a PDF. Thanks!

[2018-06-11 17:24] dideler commented on #237
Also not working for us with v0.20.1.

[code]

It prompts for the project directory. Then it prompts for the domain. Then it uploads docs.

It's been about 15 minutes and the invited user hasn't received an email yet.
When they view the domains they have access to (`surge --list`), the new one doesn't show.

Not sure if it's working and delayed, broken, or I'm using it incorrectly.

[2018-06-12 22:05] albertkim commented on #307
This is definitely still an issue - is Surge still active and maintaining their product? I installed the latest using `npm install -g surge`

[2018-06-13 15:04] chrisbradshaw commented on #295
I made the same mistake.. maybe there should be a prompt like:

project: public/
domain ("enter" for default):

[2018-06-14 20:09] aegroto opened #337 "Crash on start on Ubuntu 16.04"
Whenever i try to run surge on my Ubuntu 16.04 machine I get this stacktrace:

[code]

[2018-06-14 23:30] sintaxi commented on #337
what version of node are you on?

[2018-06-15 08:19] aegroto commented on #337
[code]
I installed it from Ubuntu's repositories.

[2018-06-15 14:37] aegroto commented on #337
Solved updating NodeJs following these instructions: https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions

[2018-06-15 14:37] #337 closed

[2018-06-16 16:32] darkskull009 opened #338 "Help"
How to download my website

[2018-06-17 13:23] live-wire opened #339 "Issue with TravisCLI Integration"
Hi I observed the following problem while integrating my project [EvalAI-ngx](https://github.com/Cloud-CV/EvalAI-ngx):

- Surge just requires `SURGE_TOKEN` as the environment variable to automatically log in
- If this environment variable is configured to be hidden in Travis Settings (`Display value in build logs` : `OFF`), surge is unable to read it  (can't automatically log in).
- I changed the

[2018-06-20 16:20] erinfox commented on #179
Happy I found this. Really helped!

[2018-06-22 20:56] teresiamn opened #340 "Would like my page white listed"
Hi!

Have heard that in order to get pdf to work one need to get ones page white listed.
I would like my page: matte/surge.sh white listed.

Best,
Teresia

[2018-06-24 19:48] kaicianflone commented on #307
@albertkim You might have a messed up global ENV if you've used Yarn and NPM. Running `npm install -g surge` fixed the issue for me :)

Try deleting yarn.lock / package.json.lock and rerunning the npm command

[2018-06-24 23:07] BellamyRibeiro commented on #179
Hey GUys I need Help!!!! URGENT! =( My page shows : No Page Found! (https://bellamyribeiro.github.io/)

Im sorry im a noob at this! however My file structure is : https://github.com/BellamyRibeiro/BellamyRibeiro.github.io

Any help is appreciated =( Thanks in advance!!!

[2018-06-28 02:47] aprct commented on #257
Can you please whitelist https://holycrosssacramento.org ? We're serving our newsletter as a PDF. Thanks!

[2018-06-29 09:29] lucaskuzma commented on #257
@sintaxi can you please whitelist my personal site http://lucaskuzma.com

[2018-06-30 05:36] girishramnani commented on #257
please whitelist https://clan5.org

[2018-06-30 18:06] billfienberg commented on #257
please whitelist https://lindseypayton.com/

[2018-07-01 16:02] tolicodes commented on #257
Hello, can you please whitelist my domain (tolicodes.com) or account (adz@nycitt.com) so that I can publish a pdf (my resume) to /resume.pdf? Thanks!

Also a few more domains I eventually plan on publishing some documents to:
- oselot.com
- nycitt.com

[2018-07-01 23:58] Roselou commented on #257
Mine too, please! http://roselou.surge.sh/static/media/webdev_resume.5ec3cd54.pdf

[2018-07-03 07:57] pixeltopic commented on #257
Can you please whitelist http://kennyjue.com/ ? Needed to upload my resume. Thanks!

[2018-07-05 16:44] cravindra commented on #257
Hello @sintaxi . I love surge and the work that you do. I'm really sorry about the abuse. Please whitelist my personal portfolio website chiragravindra.info

[2018-07-06 08:21] dimkir commented on #335
From your screenshot it seems that your cursor is somewhere one-third into line 7.  Which makes me believe that you _are_ prompted to input your email address. Albeit the prompt is invisible.

Try typing into the prompt and if you can type, and when you press enter you get to next line then this would confirm the hypothesis.

This should allow to redefine your original problem definition from:

to

[2018-07-10 17:14] mhandie commented on #95
My images are not loading on surge

[2018-07-11 01:23] mhandie commented on #95
I used an image for my background it’s not showing

[2018-07-12 10:11] sarbazx commented on #335
@sintaxi @dimkir Hi, thank for response, I have updated surge then tried again it successfully showed me the prompt.

[2018-07-12 10:11] #335 closed

[2018-07-20 05:03] sintaxi commented on #257
Hey folks, the PDF whitelist requests have piled up so we have implemented a way you can whitelist yourself by running `surge card` and adding a valid payment method to your surge account. This will not charge your account but will give us appropriate protection against abuse. All paying customers now automatically are whitelisted.

We regret we have had to add this friction to our system but unfo

[2018-07-20 14:51] callumprentice commented on #257
Worked like a charm for me - thank you.

Can you outline under what circumstances our card will be charged though?
There isn't a scenario where we push one too many projects and get a huge
bill is there?

On Thu, Jul 19, 2018 at 10:03 PM Brock Whitten <notifications@github.com>
wrote:

[2018-07-21 00:19] rabimba opened #341 "Getting "Aborted - Unable to publish. Application too large""
So I am trying to publish a stalk slide (and frankly it has a few very big images in it). Was wondering what is the file size limit for any surge project?

[2018-07-22 19:00] pixeltopic commented on #257
Doesn't work for me - after typing in my cvc and submitting, I get this error:
`undefined:1
<html><body><h1>502 Bad Gateway</h1>
^

SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at Request._callback (C:\Users\zzzz\AppData\Roaming\npm\node_modules\surge\lib\middleware\setcard.js:40:24)
    at Request.self.callback (C:\Users\zzzz\AppData\Roaming\npm\node_m

[2018-07-26 09:54] lxgreen commented on #263
I also experience this issue. my main.js is about 2MB, but the uploaded file size is only 52KB

[2018-07-26 10:12] sintaxi commented on #263
This shouldn't happen on later versions of surge. If you can provide some more info that would help starting with verifying the version of surge and OS you are on.

Check if your main.js file is in a directory being ignored by surge. Such as `node_modules` .

Another suggestion I have is to check to see if the identifier changes beside the project when you run `surge list`. If so then then build d

[2018-07-26 10:12] #263 closed

[2018-08-05 19:04] PetraArkian commented on #257
@sintaxi could you please whitelist my domain? sammylincroft.surge.sh it is for my personal site and contains my resume as well as 4 pieces of writing I've done. I tried to run surge card and it did not work. "Aborted. No such file or directory card"

[2018-08-07 13:38] driesdesmet opened #342 "indirect dependancy on minimatch causes a vulnerability"
This is due to `fstream-ignore`, which seems not te get updated lately.
[code]

[2018-08-07 13:48] driesdesmet commented on #342
Looking more into this, I can see that surge has pinned the version of fstream-ignore to 1.0.2, which depends on minimatch 2.x.x.
The latest version of fstream-ignore seems to be 1.0.5, depending on minimatch 3.x.x which would resolve this issue.
Is there a known incompatiblity?

[2018-08-08 20:26] indrakaw opened #343 "File extension redirect ROUTER"
Hello there.

I have a problem with many `.xhtml` files and browser validation, so I renamed them into `.html`. The problem is there are many `.xhtml`. Is there a way to redirect all `.xhtml` files into `.html`, especially on certain sub-directory?

I had read this: http://surge.sh/help/adding-redirects

No solution.

[2018-08-08 20:33] indrakaw commented on #343
Sample `ROUTER` file
[code]
And when it pushed, an error occurs
[code]

[2018-08-08 20:40] indrakaw commented on #343
Nevermind. I though there is something error on redirection. It's just project's plan. Have to upgrade.

By the way, no prompt upgrade when it publishes, only error message. BUT IN DOC, it's written:

[2018-08-08 20:40] #343 closed

[2018-08-09 10:11] sanjay555 commented on #167
@karlfreeman   `surge list` gives me `[object object]` list.

[2018-08-09 21:42] lovellfelix commented on #192
+1

[2018-08-16 03:51] xmclark commented on #342
Github gave me a very obnoxious notification about lodash 3.10.1 when I added surge as a dev dependency to one of my projects.

I tried to trace down the dependency but I could not find it.

[2018-08-20 14:01] Genenenenaam opened #344 "404 on images"
Issue details
-------------
Site: http://cwd.surge.sh/
Image src: './graphics/vrt.png' & './graphics/telenet.png'
Error: Failed to load resource: the server responded with a status of 404 (Not Found)

Folder structure:
----------------
cwd.surge.sh
|- index.html
|- /styles
|- /scripts
|- /graphics
    |- vrt.png
    |- telenet.png

Only Images get a 404, CSS & JS files are loading without problem.

[2018-08-22 06:20] brmi opened #345 "504 error"
Im getting a 504 error on my site. Please fix! I just sent out a bunch of jobs apps ;(

[2018-08-22 08:44] sintaxi commented on #345
I can look into it. Which project is yours?

[2018-08-22 16:10] kakuevn commented on #286
resolved

[2018-08-22 16:10] #286 closed

[2018-08-23 02:26] aliogaili commented on #257
@sintaxi  I'm running into similar issue ("Aborted. No such file or directory card").

My domain is resume http://resume.aogaili.com/ if you can still whitelist domain.

[2018-08-24 17:12] hkedia321 commented on #257
Please whitelist my domain: `http://status-check.surge.sh`. Its urgent. Thanks!

[2018-08-28 20:52] gabriellaquattrone opened #346 "Tore Down Site, Would Like to Rebuild"
I tore down my site with the "surge teardown" command but decided I want to rebuild it.

However when I try to publish it tells me

` Aborted - you do not have permission to publish to [insert website here]
`

How can I get past this?

[2018-08-30 00:11] nickFalcone commented on #219
I am having the same issue.  I've tried running `surge ssl` and going through the prompts - resulting in `Error - the pem file was not applied.`

 I also tried `surge --pem surge.pem --domain https://mydomain.com` - resulting in
`Success! Project is published and running at mydomain.com`

I followed the [surge ssl guide](https://surge.sh/help/securing-your-custom-domain-with-ssl) and have also tri

[2018-08-30 00:56] sintaxi commented on #219
@nickFalcone can you email support@surge.sh with more details such as your domain and Certificate Authority if you have one?

[2018-09-07 10:02] zequnyu commented on #257
Please whitelist `zequnyu.com` Thank you!

[2018-09-07 20:33] sintaxi commented on #257
Hey folks, I', locking this conversation because you can now self whitelist by running `surge card` and adding a payment method to your account. Just make sure you're on the latest version of surge via `npm install -g surge`.

No charges apply and you wont get unexpected charges based on usage or anything like that. You will only ever get charged if you upgrade to a plan.

[2018-09-10 22:46] irrg commented on #342
@sintaxi I'm also checking in on this and I'm kind of surprised that this isn't being addressed? The minimatch vulnerability is rated 'high' by `npm audit`. That…should be a thing.

[2018-09-11 02:14] sintaxi commented on #342
Much appreciated gents. Thanks for staying on top of this and bringing it to my attention again. As @driesdesmet points out there was a pin a one point because our integration tests were failing with updated libs.

I'll bump this up the priority list to see if I can get to the bottom of it.

[2018-09-11 14:26] irrg commented on #342
I was able to bump the version on `fstream-ignore` to 1.0.5, and set the dependency for `cli-table2` to the github url (`jamestalmage/cli-table2`) to get rid of the vulnerability alerts.

`cli-table2`, while the cause of a minor warning might be more iffy—it hasn't been published in a while and the code in the repo is different from what's published (the old lodash version that causes the vulnerab

[2018-09-18 12:41] aviaryan opened #347 "Error - Deployment did not succeed"
I see this error when I try to deploy. It was working until yesterday.

[code]

[2018-09-18 13:26] badwarlock commented on #347
Hi, i have the same problem.

[2018-09-18 13:28] bourquep commented on #347
This does not seem to be a bug with the `surge` package, but rather the Surge infrastructure being down/having hiccups. Please refrain from posting "me too"... ✌️

[2018-09-18 13:53] wallace41290 commented on #347
If we don't know it's because of infrastructure problems, then all we can say is me too...how are we suppose to know the source of the vague error message?

[2018-09-18 14:04] alissoncs commented on #347
"Deployment did not succeed", this error message should be more verbose...

[2018-09-18 14:10] jalu14 commented on #347
Same problem for the last 40 mins, been checking and there is little to no info, most probably @bourquep is right and it is infrastructure.

[2018-09-18 19:52] aashutoshrathi opened #348 "Error - Deployment did not succeed."
After upload and CDN are 100% completed it throws an error.

`Error - Deployment did not succeed.`

[2018-09-18 20:06] sintaxi commented on #348
Pretty sure this was resolved a few hours ago. When is the last time you tested?

[2018-09-19 01:45] aashutoshrathi commented on #348
Yes, this is fixed now.
Thanks ❤️

[2018-09-19 01:45] #348 closed

[2018-09-24 21:16] skylite21 opened #349 "include only certain files from node_modules"
my .surgeignore file contains this:

[code]

But still my whole node_modules folder is uploaded. Is there a way to avoid that and only upload the files I need inside node_modules? (without using any bundler, or task runner to copy them to somewhere else, or bundle them...)

[2018-09-24 23:05] yubathom commented on #192
+1

[2018-09-25 04:10] SooHyun3Lee opened #350 "How to use a custom domain?"
I deployed using surge a website http://cmuesports.surge.sh which seems to be working exactly as I have made it so (just a index.html file with "Hello!" written).
Also it seems to be working in my Terminal:
![screen shot 2018-09-25 at 12 09 56 am](https://user-images.githubusercontent.com/43182939/45992300-09913880-c057-11e8-91aa-de1056dbc4cc.png)

I set up my DNS as following at GoDaddy:
![screen

[2018-09-28 22:20] #350 closed

[2018-10-04 20:17] cfjedimaster opened #351 "Forgot password doesn't display email address"
See the missing email address at the end of the last sentence:

![image](https://user-images.githubusercontent.com/393660/46500509-a33faf00-c7e8-11e8-911c-e047f94d68d6.png)

[2018-10-07 20:12] altaygileren opened #352 "Can't teardown project"
I messed up putting in the domain and now I can't delete it.. it constantly says "Aborted- unable to remove" is there a way to edit the domain name? I believe it's giving me an issue to the point I can't use my domain because it's saying "too many redirects"

[2018-10-10 02:48] buckle2000 commented on #291
Somebody should fix this.

[2018-10-16 22:03] DanHoelck commented on #234
That did the trick!

[2018-10-18 11:48] Gillinghammer opened #353 "Surge command not working in latest version"
[code]
running the above and my only output is

"Welcome to Surge!"

nothing else happens... tried running it directly from the directory and in other projects to no avail. Anyone seen this before?

[2018-10-26 08:49] sadsouler opened #354 "Data"
Is there any way to download data of websites

[2018-10-31 04:57] YashKumarVerma commented on #63
What should I do if it asks to login even after passing the token during call, and setting ***SURGE_LOGIN*** and ***SURGE_TOKEN*** in travis ?

[2018-10-31 05:16] YashKumarVerma opened #355 "--token not working"
i've added the SURGE_TOKEN and SURGE_LOGIN env variables in travis
but this command

surge --project ./ -d https://***.surge.sh --token $SURGE_TOKEN

asks to enter credentials
![image](https://user-images.githubusercontent.com/14032427/47767554-2c6bd800-dcfa-11e8-9622-1638b1993183.png)

[2018-11-02 06:41] ortonomy commented on #353
I'm trying to run surge today, and I'm getting the same.

OS: MacOS Mojave
Surge@0.20.1

[2018-11-06 13:46] sbstnplcn opened #356 "r"

[2018-11-06 13:47] #356 closed

[2018-11-09 02:00] alisonjoseph commented on #341
I'm also running into this issue. What is the max size?

[2018-11-09 18:39] Majestcx opened #357 "Surge PDF files"
I've read that surge.sh won't load PDF files, could you put me in the whitelist?
My website is https://www.lgdp.it/

I've need to upload a tournament regulation on website...

[2018-11-13 08:50] sintaxi commented on #357
whitelist your account by running `surge card`

https://github.com/sintaxi/surge/issues/257#issuecomment-406489881

[2018-11-13 08:50] #357 closed

[2018-11-15 00:34] Luttos commented on #237
Worked for me

[2018-12-01 21:08] ChristoPy commented on #333
I'm facing the same issue :man_facepalming:

[2018-12-13 14:40] jezen commented on #307
This is _not_ still an issue. Check your surge version in your package.json or similar.

[2018-12-13 21:04] ArtStepanyuk commented on #340
From what i read in previous issue you need to add your card with

```surge card```

 command to whitelist your site

[2018-12-19 22:31] dan2600 opened #358 "GIFs are no longer being served?"
Hi, I'm not sure when this happened, but when i went on to my surge hosted site today, none of the gif images I have uploaded are working anymore. They are returning a valid response, but 0 bytes.

example

http://dan2600.com/images/p5000/hero.gif

Accept-Ranges: bytes
Cache-Control: public, max-age=31536000, no-cache
Connection: close
Content-Length: 0
Content-Type: image/gif
Date: Wed, 19 Dec 20

[2018-12-19 22:33] sintaxi commented on #358
Hmm. I'll look into this.

[2018-12-19 22:37] dan2600 commented on #358
Thanks! To give you some more context, I know it was working last week, and pretty sure as recent as this weekend. I haven't looked at the site in a day or two.  I also tried re-uploading the site just to make sure, but the result is the same. Thank you so much for checking!

[2018-12-19 23:33] sintaxi commented on #358
We appear to have a saturated disk which left some files corrupted. Well be clearing the caches but there could be some invalid browser side caches. We'll find a way to bust those caches on our end but it could take us a bit of time.

Do you have any other examples you can send to us?

[2018-12-20 21:30] sintaxi commented on #358
I think all assets should be loading correctly now. Let me know if you still see any errors. We will have to do more tweaking with the caches but we are out of the woods from an content delivery error perspective. Thanks for reporting.

[2018-12-20 21:30] #358 closed

[2018-12-22 19:14] meyeradev commented on #353
Same thing for me, it seems to come from iTerm.
I tried to run surge on the application "terminal" from apple and it works
What terminal you use ?

OS: MacOS Mojave 10.14.1
Surge@0.20.1
Terminal: iTerm2 3.0.14

[2018-12-26 15:09] ortonomy commented on #353
OK! Gonna close this. Turns out that the fix here is NOT to use the solarized dark theme in iTerm...

It has it's background color *exactly* the same as the output color from the surge command. It looks like it's not working, when in fact, it's just invisible... d'oh!

Reference which tweaked me to this: https://github.com/zsh-users/zsh-autosuggestions/issues/182

Hope this helps somebody.

[2019-01-01 06:55] karsens opened #359 "Surge not updating"
Hi, my project https://communify.cc is not updating when I try to surge. Even teardown has no effect although it says it worked fine.

Last week I added this to the build to fix some 404 errors that weren't supposed to be there because there actually was a route active on a link but it gave 404.

Don't know if it has anything to do with it but it seemed hacky.

yarn build &&
mv build/index.html bu

[2019-01-04 08:16] fu-sen commented on #359
I have verified WHOIS because you have written the domain concretely:
[code]
This domain uses Cloudflare. Therefore it seems that the cache is working and it is not updated.
First of all, you should log in to Cloudflare and try caching. Perhaps this is not a matter of Surge.

[2019-01-04 08:30] karsens commented on #359
@fu-sen Thanks, yes, cloudflare is in between Communify and surge. So
1) disable cache on cloudflare?
2) point my domain directly to surge instead of cloudflare?

[2019-01-04 08:34] sintaxi commented on #359
Changed caching headers recently that could be causing the browser too use a cached version. Check to see if a hard refresh `CMD-R` solves the problems.

[2019-01-04 08:35] karsens commented on #359
No, still the same.

[2019-01-04 08:37] fu-sen commented on #359
@karsens  If you are using Surge on Free Plan, you should delete the cache first:
https://support.cloudflare.com/hc/en-us/articles/200169246-How-do-I-purge-my-cache-

Do you remember the chance to introduce Cloudflare?
HTTPS communication? It will be lost when you go directly to Surge!

[2019-01-04 08:37] karsens commented on #359
I can't do the second because then I loose my protection to my server (which is on a subdomain)..... I can only use one name server...

[2019-01-04 08:40] karsens commented on #359
Also true, I need https. I just purged cache :)

[2019-01-04 09:15] fu-sen commented on #359
@karsens Have you solved the problem? Please close it when solving.

@sintaxi I feel that several people in #323 have the same problem. I will add comments.

[2019-01-04 09:17] fu-sen commented on #323
If you were using Cloudflare, it is possible that Cloudflare's cache is affecting it:
see https://github.com/sintaxi/surge/issues/359

[2019-01-04 09:39] karsens commented on #359
Yes it worked! The site is new now. So it may have to do with the cloudflare in between. I purged the cache and set it to dev mode. That worked. Or it may have to do with what @sintaxi changed.

[2019-01-04 09:39] #359 closed

[2019-01-10 07:13] keligijus commented on #311
@klode how did you fix this? I am experiencing a very similar issue

[2019-01-14 00:09] jblacklock commented on #246
I'm also having trouble tearing down jesseblacklock.com
I got the following error "Aborted - unable to remove jesseblacklock.com"

I tried "surge teardown jesseblacklock.com"

[2019-01-14 00:10] jblacklock commented on #352
I'm also having trouble tearing down jesseblacklock.com
I got the following error "Aborted - unable to remove jesseblacklock.com"

I tried "surge teardown jesseblacklock.com"

[2019-01-16 18:06] dkg opened #361 "please submit surge.sh to the Public Suffix List"
since subdomains to `surge.sh` can include arbitrary javascript, it's possible for `evil.surge.sh` to steal a cookie from `baby.surge.sh`, or to perform session fixation attacks, cross-site request forgeries, etc.

I recommend adding `surge.sh` to [the Public Suffix List](https://github.com/publicsuffix/list) to avoid letting different subdomains attack other subdomains via the browser's same orig

[2019-01-20 10:02] EliotSlevin commented on #192
I'd also find this useful. The other day I deployed a site and forgot to chuck it in github or something. Downloading would be great in this instance.

[2019-01-25 15:31] Dwscdv3 opened #362 "Surge CLI crashes on NTFS hard link"
When a hard linked file was encountered, the program will be immediately terminated and shows up an ambiguous error message.

_(By the way, It will be very useful if the CLI can provide a more detailed error message.)_

[2019-01-29 05:44] irobertjr opened #363 "Surge domain determination bug"
![image](https://user-images.githubusercontent.com/41565025/51886687-6d3fbf80-23c3-11e9-8f74-6a94ccd2d6fa.png)
I try to deploy it to `aqours.surge.sh` but it just looping like this and I can't do anything instead doing ctrl+c and do it again, but it always happens so It's impossible to deploy to my custom domain like `aqours.surge.sh`

[2019-01-31 15:45] tchalvak commented on #301
Looks like it's all set, recommend close.

[2019-02-06 05:23] dehghani-mehdi opened #364 "[Q] Is there any way to clone published website?"
Hi,

I didn't find any hint, so is there any way to do that?

By clone I mean download website file(s).

Thanks

[2019-02-08 13:20] Genenenenaam opened #365 "Bitbucket pipelines - continuous deployment - prompting issue"
I'm using bitbucket pipelines. But the deployment fails because of surge prompts for email.
I see no flags / options to pass along in the cli.

bitbucket-pipelines.yml
<img width="804" alt="schermafbeelding 2019-02-08 om 14 14 32" src="https://user-images.githubusercontent.com/20650976/52480401-e7cec300-2bab-11e9-94c0-816177626f71.png">

The bitbucket pipeline stops when promted for the email adre

[2019-02-12 21:11] DylanAttal commented on #179
Thank you for the advice to make sure I have an `index.html` file in my root directory. Saved me a headache!

[2019-02-14 10:42] khaledosman commented on #212
HTTP/2 support already landed, it shouldn't be too difficult to implement considering https is already supported.. Are there any updates on this? Would be happy to help with the implementation aswell.

[2019-02-14 12:02] khaledosman commented on #212
if you're facing the same problem. `now-cli` seems to have http2 support out of the box so I switched to that https://github.com/zeit/now-cli

[2019-02-18 12:50] franky47 commented on #281
Ended up here from a similar issue: I can't upload either `/.well-known/security.txt` (from https://securitytxt.org/) or my Keybase proof (`/.well-known/keybase.txt`)

[2019-02-26 08:57] huwd commented on #326
@sintaxi any update on this?
Still relates to this - https://github.com/sintaxi/surge/issues/230

I've got about 15 domains, posting them all seems like a drag. Teardown by ID is a really solid solution to that.

[2019-02-26 09:44] Craaftx commented on #282
Hello, I have the same problem on this date.

I launch a new surge command by following the video on the surge presentation and I inadvertently create a domain that can not be removed :
![image](https://user-images.githubusercontent.com/26273996/53402881-d90d4c00-39b2-11e9-93d8-7f84d3606d1e.png)

![image](https://user-images.githubusercontent.com/26273996/53402949-05c16380-39b3-11e9-9cac-0054c6daf

[2019-02-26 10:08] Craaftx commented on #282
I think I found the problem, the Teardown command detects: `rich-mass.surge.sh` and` new-oms-website.surge.sh` as two parameters.

For the moment, it's bad, but I deleted the false domain by hard-coding the name in teardown.js on line 45:
`return remove(parseUrl(req.domain).host)` to `return remove("rich-mass.surge.sh new-oms-website.surge.sh")`

I think to solve this error, we can:
- Ban spacing

[2019-02-26 14:39] beenotung commented on #282
I think it's better not to bad domain with space in the teardown command, as there exists such records.
It may be better to allow deleting domain with space like `surge teardown "a b c.surge"`

[2019-02-26 14:44] beenotung commented on #282
@Craaftx thanks your suggestion, hard-coding works best for me in the one-time situation.

[2019-02-27 07:57] fu-sen commented on #365
It is the same problem as this issue. You may be able to use this comment content:
https://github.com/sintaxi/surge/issues/355

[2019-02-27 08:01] fu-sen commented on #338
Same contents as this issue:
https://github.com/sintaxi/surge/issues/192

[2019-02-27 08:01] fu-sen commented on #354
Same contents as this issue:
https://github.com/sintaxi/surge/issues/192

[2019-02-27 08:01] fu-sen commented on #364
Same contents as this issue:
https://github.com/sintaxi/surge/issues/192

[2019-02-27 08:20] Genenenenaam commented on #365
$129 a month. No tnx.

[2019-03-01 17:11] ricardogouveia3 opened #367 "Surge command not found"
I'm running the default installation process but not been able to execute it

[code]

Already tried to run it on sudo. Haven't found any instructions to include surge on path if needed.

[2019-03-01 17:50] ricardogouveia3 commented on #367
I had a mistype on my .zshrc file that was affecting every npm installed package. Fixed now.

IF you have the same issue:
Check if the return of your `echo $PATH` includes `/Users/YOUR-USERNAME/.npm-global/bin`

[2019-03-01 17:50] #367 closed

[2019-03-06 12:57] alaxalves opened #368 "TLS/Https not working"
I have a subdomain in Surge (falko.surge.sh) and for some reason TLS is not workin here. I have done anything different (I have another project under surge subdomain) and I get the following:
![image](https://user-images.githubusercontent.com/19597045/53882759-fb781880-3ff5-11e9-9af7-4b3c8fdd5c1d.png)

I thought everything would work fine since [All projects published to surge.sh subdomains automa

[2019-03-06 12:58] alaxalves commented on #368
I cannot believe how dumb I have been https://surge.sh/help/using-https-by-default SMH

[2019-03-06 12:58] #368 closed

[2019-03-12 14:44] jsomsanith commented on #342
Hello guys.
Any update on that ? The version of `minimatch` has been upgraded in `fstream-ignore` since version 1.0.3.
Is there any plan to upgrade ?

[2019-03-13 10:45] sintaxi commented on #342
Fixed. Thanks to everyone for waiting on this and nudging me from time to time. `v0.20.3` has been released.

[2019-03-13 10:45] #342 closed

[2019-03-13 10:48] jsomsanith commented on #342
Thank you :)

[2019-03-19 12:49] Platane commented on #355
One workaround is to have `SURGE_LOGIN` and `SURGE_TOKEN` exposed as env var

As defined in this file : https://github.com/sintaxi/surge/blob/1b947a522c9403166a9c2c28120514a57b4ffcc1/lib/middleware/util/creds.js#L23

[2019-03-28 10:41] PolGuixe commented on #341
Also running into this issue. Not from local but from Gitlab pipelines.

[2019-04-13 11:30] cuongw opened #370 "Configure proxy in Surge"
My website need call API from a domain.
I configured `package.json`:
[code]
But when deploy on `surge`, proxy is `https://surge.sh/`.
How I can configure this proxy or any solutions?
Thanks!

[2019-04-16 10:56] rfreitas opened #371 "Confusing versioning"
Hi there,

I'm a bit confused about the npm versioning of this package and the github releases.
On github the latest is 0.19, but on npm the latest is 0.20.3, which is also what is on the package.json.

Shouldn't github releases (or tags) match the package.json (npm) version?

[2019-04-16 20:50] eddycaldas commented on #55
Hi,
I'm having the same problem:
Surge - surge.sh

              email: eddycaldas@live.com
              token: *****************
       project path: /Users/eddycaldas/jobs/
               size: 5 files, 5.1 KB
             domain: jobs.surge.sh

    Aborted - you do not have permission to publish to jobs.surge.sh

Please help... Thank you

[2019-04-23 18:30] CrazyPython opened #372 "Slow loading in brazil"
Google analytics reports that our surge site loads slowly in brazil- 10 seconds, versus 3 seconds elsewhere. Please fix this, 10% of our users are from latin america.

[2019-04-26 16:42] o1dnik commented on #90
@monfresh agree. Voting +1 for this. I shouldn't have tried this service before realizing I can't delete an account O_o ...

[2019-04-29 20:59] matthieubellon commented on #90
I shouldn't have either, so use to have that kind of "feature"

[2019-04-29 22:27] sintaxi commented on #90
I like the idea of having this built into the CLI. Obviously nuking accounts is a delicate thing so we prefer to be cautious with such a potentially destructive command.

The fastest way to have your account removed is to run `surge teardown <domain>` on all your projects then email `support@surge.sh` to request account removal.

FWIW - surge.sh has never sent out newsletters, promotional emails,

[2019-04-30 07:24] AnaitBI commented on #300
@namminammi
How to do that?

[2019-04-30 08:42] matthieubellon commented on #90
`surge list` does not display my domain names but `[object Object]` so I can't have their names and teardown them. But I sure know this is not important and also know that I want my account removed definitively.

Not insinuating you are doing bad stuff *today* with our emails, but nobody know what's the future is made off (somebody buy your company, get access to all databases etc ..)

I just dele

[2019-04-30 09:19] sintaxi commented on #90
To clarify, if you would like your account removed email `support@surge.sh` from your surge email address. Commenting on this issue will not be interpreted as a request to have your account removed.

Tearing down your domains ahead of time will make the process faster but is not necessary.

[2019-04-30 09:21] matthieubellon commented on #90
Yes sure, I was not clear, should have wrote = "In my usecase, with the bug I am facing, having access to a delete my account would be great"

I'll send an email, thanks

[2019-05-01 16:48] xtagon commented on #371
Yes, it's a little confusing to know when it's safe to upgrade.

[2019-05-04 10:31] galiarmero opened #373 "tunneling socket could not be established"
I executed `surge` behind a corporate proxy. After typing email and password, I got this error:

[code]

I have proxy configurations in place for npm and env variables. Is access via proxies not supported?

[2019-05-05 05:41] dehghani-mehdi commented on #364
Any update here?!

[2019-05-07 14:28] makoto opened #374 "Surge returns 404 if part path contains tld"
Hi,
Currently our website has `/name/domain.tld` path to show some record based on the domain.

However if the tld ends in either `.com`, `.org`, or `.xyz` it throws 404 page

eg:

https://manager.ens.domains/name/resolver.com
https://manager.ens.domains/name/resolver.xyz
https://manager.ens.domains/name/resolver.org

However other domains or adding `/` at the end does not.

eg:

https://manager.e

[2019-05-13 08:51] makoto commented on #374
Hello. Any response on this?

[2019-05-13 17:36] sintaxi commented on #374
Thanks for the report and reminder. Taking a look and will try to get back to you shortly.

[2019-05-13 19:50] sintaxi commented on #374
@makoto Looks like our fallback mime check was too conservative. Issue should be fixed now. Let me know if you have any other problems.

btw - Im assuming you are using `200.html` file to test this feature. Let me know if that is not the case.

[2019-05-13 19:50] #374 closed

[2019-05-13 21:30] makoto commented on #374
Hi, @sintaxi  `.com` and `.org` looks ok, but `.xyz` is still showing 404

https://manager.ens.domains/name/resolver.xyz

PS: yes we have 200.html

Regards

Makoto

[2019-05-13 21:37] sintaxi commented on #374
Thanks for testing. Looks like `.xyz` returns a mime of `chemical/x-xyz`. Just released another fix.

[2019-05-13 22:06] makoto commented on #374
Thanks for responding so quickly! Looks working fine.

[2019-05-14 13:45] huwd commented on #282
hey just thought I'd tie a few of these together also discussed: #230

[2019-05-14 13:45] huwd commented on #317
Also discussed over here: #230

[2019-05-14 13:45] huwd commented on #333
Also discussed over here: #230

[2019-05-14 13:45] huwd commented on #352
Also discussed over here: #230

[2019-05-14 13:46] huwd commented on #207
Also discussed over here: #230

[2019-05-14 13:46] huwd commented on #127
Also discussed over here: #230

[2019-05-14 13:53] huwd commented on #230
@sintaxi could you remove the following for me:
[code]

Many thanks!

[2019-05-16 13:29] Mouvedia commented on #230
dupe of #127

[2019-05-31 03:01] gone commented on #55
Can confirm, currently an issue

[2019-06-04 01:09] le0nik opened #375 "[0.21.2] Error: cannot find module "fstream-ignore""
Size middleware(among others) uses `fstream-ignore`

https://github.com/sintaxi/surge/blob/c61b503a019af9bfe74dc5d54f39dcbeccd2a86a/lib/middleware/size.js#L2

but it's not listed in package.json dependencies. It was changed to `surge-fstream-ignore` in this commit: https://github.com/sintaxi/surge/commit/c2fff29f88728af348142d0a1673a5213f354b59

[2019-06-04 01:14] sintaxi commented on #375
Thanks! Just released `v0.21.3` which should resolve the issue.

[2019-06-04 01:26] #375 closed

[2019-06-04 20:27] sintaxi commented on #355
This should now be resolved. Setting `SURGE_TOKEN` as en environment variable or passing in a literal token in the `--token` works on the latest version of surge.

[2019-06-04 20:27] #355 closed

[2019-06-05 19:50] guyjacks commented on #219
We're having this issue with Let's Encrypt certs.

[2019-06-08 12:25] polishedwp commented on #211
@bcallaars Was just looking for the same thing.

[2019-06-10 22:20] DanySK commented on #341
I hit it once when generating Kotlin/Dokka for a big project (no images, the website was above 50MB though).
It was some time ago, I don't know if the limit is higher now.

[2019-06-13 12:50] senorhollow commented on #230
@sintaxi
Could you please remove zrobilemheader.surge.sh for me?
I have problems with removing it on my own.

[2019-06-16 23:11] MightyRevenge commented on #307
Updated version fixes issue.

[2019-06-16 23:11] #307 closed

[2019-06-18 22:29] derit commented on #196
solution for this problem using **Cloudflare** and get free ssl

[2019-06-20 10:19] #196 closed

[2019-06-20 11:42] YashKumarVerma opened #376 "What data of clients is collected by Surge ?"
It would be great if we could know what data is collected by surge

[2019-06-21 07:59] sintaxi commented on #376
Great question. Surge collects nothing other than the version of the client and the directory/arguments you pass in for your upload. Surge takes your privacy very seriously. Surge does not snoop or sniff around your system like other CLI's do.

The version is only kept for the lifecycle of the request so we can accomodate breaking changes. That is why very old version of surge still work well. The

[2019-06-21 11:58] YashKumarVerma commented on #376
Thanks for the information.
I've been in love with Surge for over 2 years now. :heart:

[2019-06-21 11:58] #376 closed

[2019-07-04 16:07] #370 closed

[2019-07-11 21:00] y0y0z commented on #90
@sintaxi: truly love surge.sh service, but the only thing that still bugs me is this issue. could you please share when do you see the issue being addressed?

[2019-07-22 14:41] keligijus commented on #348
hey, anyone facing this again?

I get both upload and CDN to 100% just to be followed by `Error - Deployment did not succeed.`

[2019-07-22 16:43] riiccardo opened #377 "Published to ( Domain.surge.sh ) but actually not deployed or depolyed with big delay"
I use the surge command to deploy the site

But I'm having a problem with the new version `0.21.3` just error at end of publish 😭

I'm downgrade to `0.20.5` to solve the error
But after the execution of the command, the site is published in this version, but with a lot of delay the site will be displayed
delay take 5 or 10 min 😢

[2019-07-22 16:47] sintaxi commented on #377
I don't think its related to the version of the client you are running. Were seeing a lot of build errors this morning and still trying to get to the bottom of things.

[2019-07-22 18:39] patrickmonteiro commented on #377
I still have the same problem. My deploy attempt returns: "Deployment did not succeed."

[2019-07-26 22:33] talentlessguy opened #378 "Not available in Russia"
I can't use Surge in Russia, it is blocked. Is there any mirror for it?

[Report](https://isitblockedinrussia.com/?host=surge.sh)

![image](https://user-images.githubusercontent.com/35937217/61984807-8e9a0500-b00e-11e9-8f1f-75f43aea0d46.png)

[2019-07-29 14:47] patrickmonteiro commented on #377
I think it can be closed, the problem was solved the same day!
Thanks for the support.

[2019-07-29 16:40] sintaxi commented on #377
Thanks Patrick. Closed.

[2019-07-29 16:40] #377 closed

[2019-08-03 02:29] rtablada commented on #307
I have completely uninstalled and reinstalled on two machines and still get the error property grey of undefined.

Version info:
`surge – single command web publishing. (v0.21.3)`

[2019-08-03 02:38] rtablada commented on #307
I was able to test and figured out that some projects come back from the api with no value for `timeAgoInWords`, `platform`, or `cmd`.

Either this is a regression in the API or the CLI should be able to gracefully handle projects that don't have those values.

[2019-08-03 06:52] alvagenesis commented on #230
@sintaxi
Hello could you olease remove this project for me? thanks!
`1564789425861 unruly-popcorn.surge.sh efarca-basketball.ga`

[2019-08-03 06:56] sintaxi commented on #307
@rtablada Interesting. can you email support@surge.sh with some more details so we can dig into this issue?

[2019-08-06 10:24] krazyjakee opened #380 "Cannot add user"
Can't add use `surge --add email@domain.com` as it just tries to deploy the project instead of add the user.

[2019-08-06 17:19] tpluscode commented on #355
Hm, I just tried the env variable and it did not work. The `--token` param works though

[2019-08-07 10:39] Edge00 opened #381 "`> surge` didn't ask me to login"
![image](https://user-images.githubusercontent.com/23715779/62616643-a6dd1e80-b942-11e9-8e62-d552c1de8e50.png)
not like your gif
![image](https://user-images.githubusercontent.com/23715779/62616666-b492a400-b942-11e9-8181-74c7282f9834.png)

[2019-08-07 12:29] #381 closed

[2019-08-12 00:15] hav4ik commented on #302
The easy hack is to use [pdf2htmlEX](https://github.com/coolwanglu/pdf2htmlEX) (which is also available as an `apt` package in Ubuntu 18.04) to convert your PDF file into HTML format. You can see my results [here][1].

[1]: http://hav4ik.surge.sh/John%20M.%20Lee%20-%20Intro%20to%20Smooth%20Manifolds/notes/

[2019-08-12 20:22] sintaxi commented on #302
@walchko run `surge card` to add a payment method and pdf support will automatically be added to your projects. No charges apply.

[2019-08-12 20:22] #302 closed

[2019-08-28 22:27] CuneytYilmaz commented on #280
Hi, can u also add my domain to whitelist: cuneytyilmaz.surge.sh
Thanks.

[2019-09-03 21:47] washingtondeveloper commented on #230
Could you please remove minhas-tarefas.surge.sh/ for me?
Please, Thank you!!!

[2019-09-07 15:37] nathanaelphilip commented on #307
having this issue as well – 10.14.6 – let me know what you need
surge version `v0.21.3`

[2019-09-08 17:00] willnwhite opened #382 "surge list returns [object Object]"
The surge list command returns a list of [object Object], rather than the domains/projects.

[2019-09-09 11:14] jynweythek commented on #378
by Генпрокуратура, заводите ишью на них))))

[2019-09-09 18:46] sintaxi commented on #382
Update your version of surge via: `npm install -g surge`.

[2019-09-09 18:46] #382 closed

[2019-09-09 20:21] willnwhite commented on #382
Ah, tried `npm update -g surge` but I guess that didn't work.

[2019-09-10 13:53] #184 closed

[2019-10-16 21:06] pseuyi commented on #55
ran into this issue just now when when running `surge`. allowed me to create an account that i could login to but the randomly generated domain was clearly taken.

[2019-10-18 19:24] jfols opened #383 "cannot serve files within hidden directory's subdirectory"
I'm attempting to use Let's Encrypt's manual cert verification which requires challenges to be served from `domain.com/.well-known/acme-challenge/some-long-random-file-name`.

I have a `.surgeignore` with `!.well-known`, however surge doesn't want to server any files from subdirectories of `.well-known`. I can however serve files from `/.well-known`. I've also attempted to add a more explicit rule

[2019-10-18 19:36] jfols commented on #383
Sometimes creating an issue leads to the necessary inspiration...

This `.surgeignore` works great!

[code]

[2019-10-29 02:08] GCaras opened #384 "Request for pdf whitelist"
Is there a way to request a pdf whitelist on my [website](http://george-caras.surge.sh/) deployed on surge? It's just a single pdf for my resume. Thank you!

[2019-10-29 02:09] #384 closed

[2019-11-05 19:54] bdrtsky commented on #341
Any chance to answer that, hello?

[2019-11-05 21:44] sintaxi commented on #341
The limit is set to 4500 files and about 450MB. You may want to look into using `.surgeignore` file to omit deploying certain files. https://surge.sh/help/ignoring-files-and-directories

[2019-11-05 21:44] #341 closed

[2019-11-06 20:19] RobinJayaswal opened #385 "200.js file served from Chrome disk cache even on hard reload"
Is there a certain file size the 200.js script can reach where the browser force caches it?

I see a success message on deploy, but my production site continues to fetch the 200.js file from disk cache, even on hard reload. I have to open Inspector and issue an "Empty Cache and Reload" command (one step above hard reload) for it to refetch 200.js, at which point I do see my javacript changes (I am

[2019-11-06 23:56] RobinJayaswal commented on #385
Looking into whether this could be related to #359. I am behind Cloudflare so that could be to blame.

[2019-11-07 14:15] IgorCopa commented on #179
Thank you for helping me.

[2019-11-07 19:18] #385 closed

[2019-11-21 13:50] Shekharrajak opened #386 "Asking for Surge email and token for some user"
Hi,

I have put the SURGE_TOKEN and SURGE_LOGIN in github secrets so that it can be picked while running the surge command for authentication.

It worked well in some PRs (like [here](https://github.com/numpy/numpy.org/runs/313847462#step:3:135) ) but it didn't work in few like [here](https://github.com/numpy/numpy.org/pull/74/checks?check_run_id=313893978#step:3:135).

 Can someone please help me

[2019-11-22 11:42] sintaxi commented on #386
You can pass in token with `--token` and not bother with the environment variables. Let me know how it goes.

[2019-11-22 14:16] Shekharrajak commented on #386
Thanks I willl try it.

[2019-11-23 18:34] didaquis opened #387 "surge list returns [object Object]"
The command `surge list` returns this:
[code]

[2019-11-23 21:20] sintaxi commented on #387
I think you may be on a very old version of surge. Run `surge --version` to check. Run `npm install -g surge` to update.

[2019-11-23 22:41] didaquis commented on #387
You are right! Update Surge solve the issue. Thanks

[2019-11-23 22:41] #387 closed

[2019-12-10 09:21] 2lach opened #388 "Issues with surge list in CLI"
### Hey
First of all  ❤️surge.sh awesome job @sintaxi!

Today I'am having some issues with `surge list`

**Description**
I get the following error on `surge list`
but the rest of the CLI works without a hitch wondering if anybody else have this issue/knows a way to fix it?

**Error**
[code]

**Specs**:
![surge-issue](https://user-images.githubusercontent.com/11457600/70515724-14d66400-1b36-11ea-82

[2019-12-10 10:00] sintaxi commented on #388
Thanks for the detailed report. This may be a data integrity issue. Do you mind emailing `support@surge.sh` with your email address that you use on surge so that we can have a look at your projects?

[2019-12-10 10:00] sintaxi commented on #388
...also, thanks for the kind words :)

[2019-12-10 12:06] 2lach commented on #388
Sure thing 👍

[2019-12-11 14:00] krazyjakee commented on #380
surely others have this issue? Isn't this a major flaw?

[2019-12-17 15:36] dehghani-mehdi opened #389 "Published domain user info"
Hi,

Actually I forgot the email which I used to publish website. I'm wondering how I can figure it out?
Also is there any way to find out each domain/website published using which user?

[2019-12-17 20:09] 2lach commented on #388
Hello @sintaxi hope all is well!
Im curious if you have any updates regarding this issue?

Have a good one 👍

[2019-12-18 11:09] sintaxi commented on #388
Thanks for the reminder. You should be all good now. Turned out to be a data integrity issue. Let me know if things are all good on your end now.

[2019-12-18 12:33] 2lach commented on #388
And..... It looks good 👍Tnx

Anything I need to do on my end in regards to the data integrity issue?

[2019-12-18 16:55] #388 closed

[2019-12-23 01:15] v-patel opened #390 "Surge Card Throws Error"
I get the following error when attempting to add a card to surge:
[code]

[2019-12-23 01:19] v-patel commented on #390
Was not accepting first two cards I tried, worked on third one

[2019-12-23 01:19] #390 closed

[2019-12-28 02:39] rightwork commented on #380
I think this project is on a decline.  I've [seen others](https://github.com/sintaxi/surge/issues/55) report this same issue with no resolution.

In my case I need to change the email on file, but adding a new user, or trying to set up a new user with a new account and following [this guide](https://surge.sh/help/adding-a-custom-domain), does not work.

I'm forced to use and keep around my old ema

[2019-12-28 02:59] sintaxi commented on #380
@rightwork contact support@surge.sh. This issue tracker is for bug reports and feature requests for the surge CLI.

[2019-12-28 03:05] sintaxi commented on #380
@krazyjakee I agree surge needs its own command for inviting users to a project. I will raise priority on this feature.

[2020-01-04 22:03] scheng123 opened #391 "Connection cuts off when it's exceeding 30 seconds ERR_CONNECTION_LENGTH_MISMATCH"
When a user with a bad internet connection (replicated with chrome dev tools, network throttling slow 3g) attempts to load a file with moderate file size, it fails. The server closes the connection after 30 seconds, leading to the error "ERR_CONTENT_LENGTH_MISMATCH".
Any fixes for this?

[2020-01-16 10:39] prashant-shahi commented on #291
Need this!!

[2020-01-16 10:42] prashant-shahi opened #392 "Should exit with non-zero status when aborted after permission denied"
[code]

[code]

[2020-01-16 10:47] prashant-shahi commented on #392
I went through the source code and found that code logic is throwing exit status 1 when aborted.
https://github.com/sintaxi/surge/blob/2ed7d79d683e89d0fc6cd5325cdd9f026d6e7f65/lib/middleware/deploy.js#L315

Turns out, it was because of the command-line fuzzy finder, that I got the zero exit status.

[2020-01-16 10:47] #392 closed

[2020-01-18 15:57] yudhiezk opened #393 "Unable to teardown project"
I'm unable to teardown project or update the project. I'm using surge version 0.21.3. When I teardown a project, somehow I can still access it. Any idea why?

[2020-01-18 17:06] sintaxi commented on #393
Thanks for reporting. If you can come up with a way to duplicate the issue that would be extremely helpful.

[2020-01-18 23:45] sintaxi commented on #393
This issue is resolved now. please re-open if you are still having any problems.

[2020-01-18 23:45] #393 closed

[2020-01-21 17:03] seisenreich commented on #55
Same here.
Anything further we could provide you with to be able to fix this?

KR

[2020-01-21 17:56] sintaxi commented on #55
It's unclear to me what problem this ticket represents? Id like to narrow this down into something that we can take action on since this ticket is really old but probably represents different problems for different people. Please chime in if you see this as one of these three problems or something else altogether...

1) subdomain collision when publishing a subdomain the CLI suggests?

2) Error th

[2020-01-22 07:35] seisenreich commented on #55
Hi Brock, thank you very much for taking your time.
And for answering so quickly.
If I understood it right, it should be number 1.

When I use `surge` in CLI - without using `--domain`- I get some random domain as result.
But this doman is already taken in many cases.

While that's no actual problem when using the domain CLI option, I think there could be a check for already taken random domains t

[2020-01-22 22:10] lindsayloughlin commented on #55
I had the same issue when creating a new account, including multiple attempts in quick succession. **After waiting for around 60 seconds the authorisation and deployment were successful.**

This may be due to the account creation happening in the background, possibly a consistency issue with account creation?

For brevity I was following through the Gatsby hello world example ( https://www.gatsbyj

[2020-02-07 04:41] sonbuiGFD opened #394 "[Help] site reponse with 504 Gateway time-out"
Hi @sintaxi , thank for your awesome work!
I just deploy my app again this morning and it returns empty HTML and sometime returns status 504, 502.
Is the server down?

[2020-02-07 04:43] sonbuiGFD commented on #394
![image_2020_02_07T03_53_36_342Z](https://user-images.githubusercontent.com/21443320/74001651-fefee700-499e-11ea-9fc6-7c4f34085292.png)

[2020-02-11 01:56] sonbuiGFD commented on #394
Never mind, it fixed.

[2020-02-11 01:56] #394 closed

[2020-02-18 14:43] Shekharrajak opened #395 "Error in travis while running command"
Hi,

I have installed surge in travis build and running the surge command but getting these error:

[code]

[2020-02-18 16:21] Shekharrajak commented on #395
One can see the error here: https://github.com/numpy/numpy.org/runs/452977872

[2020-02-21 12:15] anusharaob commented on #353
Also if you have used npm / yarn as a package manager in the beginning of gatsby project installation, install the surge command using the same package manager. I initially had used yarn for gatsby project and was trying to install surge through npm and hence I was getting `Command not found`.
I removed the npm package and installed it through yarn, it finally worked :)

[2020-03-01 00:26] Arteneko opened #396 "Account removal help"
Hello, I would like to remove my surge.sh account, but couldn't find anything on how to do so.

Thanks in advance

[2020-03-06 10:34] Abdubek commented on #200
how did you decide?

[2020-03-06 10:39] Abdubek opened #397 "routing does not work when several levels of links"
I added 200.html

http://wtotem.surge.sh/profile - work
http://wtotem.surge.sh/dashboard - work

but if there are several levels, like

http://wtotem.surge.sh/profile/settings - not working

[2020-03-06 13:01] sintaxi commented on #397
Are you sure you have a `200.html` file in the root of your project? I'm not seeing one.

[2020-03-06 13:04] Abdubek commented on #397
sure.
and if I don’t add a 200.html file, then I can’t directly go to the address http://wtotem.surge.sh/profile

[2020-03-06 13:06] Abdubek commented on #397
I understand my problem
Sorry for bothering

[2020-03-06 13:06] #397 closed

[2020-03-11 15:56] amaurym opened #398 "Force HTTP"
Yes, I would like to redirect in this direction https->http.

The reason is that my website connects to Websockets over ws:// (and not wss://), which is disallowed on HTTPS websites (mixed content).

Is there a way to either:
1. Disable redirection from http to https on my-website.surge.sh?
2. Add redirection from https to http

[2020-03-23 20:08] YashKumarVerma commented on #352
The current version has a working teardown.
Consider closing.

[2020-03-23 21:30] jwilld commented on #282
If you typed it in one line like "surge teardown domain.surge.sh", try typing "surge" first and a prompt for the domain name will show.

[2020-03-24 05:10] YashKumarVerma opened #400 "Linting Missing"
The current project does not follow any strict linting mechanism, which provides uniform code standard throughout the development phase.

I recommend using something of the likes of eslint of jshint

[2020-04-03 01:44] StephenCleary opened #401 "Install fails with "'rxjs@^6.4.0' is not in the npm registry""
Just tonight, `npm install -g surge` started failing for me:

[code]

Looks like upstream rxjs messed something up and now surge can't install.

[2020-04-03T01_39_36_632Z-debug.log](https://github.com/sintaxi/surge/files/4424609/2020-04-03T01_39_36_632Z-debug.log)

[2020-04-03 01:45] StephenCleary commented on #401
And just like that it started working again. Never mind!

[2020-04-03 01:45] #401 closed

[2020-04-03 01:46] sintaxi commented on #401
I just tested it myself and it seems to be working. Thanks for following up :)

[2020-04-03 01:54] StephenCleary commented on #401
Thanks for a great tool!

If you want to check it out, I threw together a [repo](https://github.com/StephenClearyExamples/PullRequestStaging) to show how GitHub Actions can be used to support slash-commands for pull requests. So I implemented `/deploy` and `/teardown` actions using Surge.sh to give each PR its own staging environment. Started [blogging about it](https://blog.stephencleary.com/2020

[2020-04-03 03:39] sintaxi commented on #401
You're welcome! Thanks for sharing your repo and blog. Looks like it could be good reference material.

[2020-04-23 00:38] fu-sen opened #403 "Warning is output with Node.js 14"
I updated to the new version of Node.js 14.0.0, which was recently published.
Then `surge` will always return the following output:
[code]
Of these, `8280` is random. the operation of surge CLI itself works.

[2020-04-23 00:46] sintaxi commented on #403
Thanks for reporting. We'll look into it!

[2020-04-28 18:23] wrick17 commented on #212
Any updates yet @sintaxi ?

[2020-04-30 00:08] fu-sen commented on #403
Node.js has been updated to 14.1.0. This issue continues.
(I use Windows 10 PowerShell)

[code]

[2020-05-02 00:52] atmollohan opened #404 "Surge site availability"
Are there limitations to the free version of surge. I have a domian: https://weroast.surge.sh/ and when I try to look at the site on my mobils safari I am seeing the surge default 404 page. Is this something that I need to configure in my app?

[2020-05-02 01:01] sintaxi commented on #404
It looks to me like you perhaps intended to deploy the `public` directory??

https://weroast.surge.sh/public/

[2020-05-02 02:43] atmollohan commented on #404
Oh you're totally right I had updated the domain to default to https and accidentally overwrote the previous domain. I appreciate the help!

[2020-05-02 02:43] #404 closed

[2020-05-03 23:59] jascodes opened #405 "Letsencrypt SSL auto-renewal/outtage"
Hey @sintaxi

Awesome Project..

My domain https://jas.bio is showing expired SSL. Seems like letsencrypt didn't autorenew for some reason. I don't know if its right place to post this. But just wanted to let you know

Jas

[2020-05-04 00:05] sintaxi commented on #405
I’ll take a look right away.

On Sun, May 3, 2020 at 5:00 PM Jaspreet Singh <notifications@github.com>
wrote:

[2020-05-04 00:08] jascodes commented on #405
Hey @sintaxi
Did you do something? Because the renewal just happened. Although it expired from yesterday. So there might something going on.

Thx

[2020-05-04 00:09] sintaxi commented on #405
Yep, I just provisioned a new cert for you. Not sure why the auto-renew didn't work but we'll look into that. Looks like you're all set.

[2020-05-04 00:12] jascodes commented on #405
Hey Thx very much, But can you also for *.jas.bio as well?
That will be really helpful.

Thx

[2020-05-04 00:20] jascodes commented on #398
Disabling http to https redirection is simple. Just teardown and make sure you don't do surge https://yourdomain.com but do just surge yourdomain.com. This will disable https redirection.

[2020-05-04 00:52] jascodes commented on #405
Hey @sintaxi
I was also curious, do you guys have setup cronjob that tries auto renew for every domain in registry in X days or its more complicated setup?

Jas

[2020-05-04 08:47] amaurymartiny commented on #398
How about using *.surge.sh domains?

[2020-05-04 08:51] jascodes commented on #398
Yea.. As long you explicitly don't do `surge https://abc.surge.sh` but `surge abc.surge.sh` It won't automatically redirect. Https -> http redirection might not be possible with free account. But you can always ask @sintaxi about it.

[2020-05-04 09:25] sintaxi commented on #405
Unfortunately wildcard certs have to be uploaded with the `surge ssl` command because I don't have those implemented yet on Lets Encrypt. If you have a specific subdomain you want me to provision let me know.

There is a bit more to it because we have edge nodes in 10+ or so different datacenters. So a lot of the challenge is keeping the certs all synced up.

[2020-05-04 09:34] jascodes commented on #405
I will be really greatful for temp fix for these. I have bunch of portfolio pages. That I have shared in last couple of days. It will be quite embarrassing if those don't open 😝.

yobetit.jas.bio
fit3d.jas.bio
zettalabs.jas.bio
zenart.jas.bio
cv.jas.bio
dotnet.jas.bio
as3.jas.bio
ml.jas.bio

Thx 🙏 very much....

[2020-05-04 14:16] balupton opened #406 "Invalid token error despite using correct token"
from https://travis-ci.com/github/bevry/get-cli-arg/jobs/327384325

[code]

and https://travis-ci.com/github/bevry/daet/jobs/327317383

[code]

exact same token used successfully on about 40 other deploys today: https://travis-ci.com/github/bevry

[2020-05-04 20:25] jascodes commented on #405
Hey @sintaxi

I have provided https links on my CV and interview couple of critical interviews are coming up in next couple of days. I just wanted to ask, if you think its easy fix or it will take time to resolve.

Thx
Jas

[2020-05-04 20:48] sintaxi commented on #405
Should be all set now. Please verify.

On Mon, May 4, 2020 at 1:26 PM Jaspreet Singh <notifications@github.com>
wrote:

[2020-05-04 21:29] jascodes commented on #405
Bro it looks like you allotted one by one ssl for each subdomain. Thanks very much for that. 🙏

Anyways I guess the wildcard renewal might be complicated affair.

Anyways thanks for your support.

[2020-05-05 06:29] sintaxi commented on #405
You're welcome!

[2020-05-06 02:44] balupton commented on #406
This could have been on my side. Seems the travis CLI could not make up its mind if it was applying the updated env vars to the travis-ci.org site or the travis-ci.com site. Will test.

[2020-05-06 02:46] #406 closed

[2020-05-06 10:29] nrfm commented on #202
still happening.
Any workarounds available?
thanks

[2020-05-06 21:49] n-lavrenko commented on #55
1. Try in the terminal (when you authorized in surge):
`$ surge`
2. Then select a folder to upload: `/projects/johndoe/dist`
After that the progress were ran.

[code]

[2020-05-19 00:14] j127 commented on #92
Suggestion: the [docs](http://surge.sh/help/remembering-a-domain) aren't clear that `CNAME` should go in the directory that is getting pushed to surge. It sounds like `CNAME` should go at the root of the project and not in the deploy directory, but that doesn't seem to work.

[2020-05-19 05:47] sintaxi commented on #92
@j127 Thanks for reporting, I'll look into it.

FWIW - I personally don't ever use a CNAME file. I prefer to just pass in the domain name `surge . example.com` or put it in package.json file...

[code]

In this case you would run `surge run deploy`.

[2020-05-20 22:40] j127 commented on #92
Thanks, it isn't actually for me, but I'll keep it in mind if I use it. I was helping someone deploy their site to Surge and it wasn't working, so I tested it and that seemed to be why the `CNAME` file wasn't being picked up.

[2020-05-21 20:34] kylebakerio commented on #237
it is confusing that this looks like a normal deploy, which is exactly what it would look like if this argument were completely broken and ignored, and which means that you must use the correct deploy folder in this command.

So, for more clarity, explaining that, and/or giving an example of:

`surge public-folder example-domain.com -add sharewithuser@email.com`

Just putting this here for future

[2020-05-22 19:44] sintaxi commented on #237
I totally understand the confusion and difficultly dealing with this api. You will be happy to hear this is has been addressed and in the next release of surge you will be able to add/remove people to your project with a `surge invite` and `surge revoke` command (which doesn't deploy your project).

To invite people to your project...

[code]

To remove people from your project...

[code]

The wor

[2020-05-24 21:33] Shayk91 opened #407 "Adding a custom SSL certificate Doc typos"
I was trying to use the documentation for adding a SSL to my site and noticed typos/errors. The main ones start happening under Create the PEM file from the private key and cert. The gifs aren't showing and there are a few typos as well. Just thought you should know.

[2020-05-26 00:21] Njinga commented on #373
I have nearly the same problem but for me there is cause=connect  ECONNREFUSED 127.0.0.1:80
    at ClientRequest.onError (C:\Users\PC\AppData\Roaming\npm\node_modules\surge\node_modules\tunnel-agent\index.js:177:17)
    at Object.onceWrapper (events.js:418:26)
    at ClientRequest.emit (events.js:311:20)
    at Socket.socketErrorListener (_http_client.js:426:9)
    at Socket.emit (events.js:311:20

[2020-05-26 00:27] Njinga opened #408 "tunneling socket could not be established, cause=connect"
I executed surge in cmd while trying to introduce myself to vue.js deployment but unfortunately just after typing email and password I got this error:

C:\Users\PC\AppData\Roaming\npm\node_modules\surge\lib\middleware\util\helpers.js:146
      if (e) throw e
             ^

Error: tunneling socket could not be established, cause=connect ECONNREFUSED 127.0.0.1:80
    at ClientRequest.onError (C:\Us

[2020-05-26 21:27] #218 closed

[2020-05-27 05:08] kylebakerio commented on #237
Oh, excellent. I had heard generalized fear that perhaps this project was dead, but I've now been a huge fan of surge for years and am delighted to hear a new update is coming. Any other place we can get interesting news and follow what's planned for the next release?

As for this, yeah, that sounds much more explicit. Will there be a way to list who currently has these permissions?

[2020-05-31 14:49] UrslanAli opened #409 "No Such File or Directory Exist - Not able to publish"
Aborted - No such file or directory:

[2020-05-31 15:06] UrslanAli commented on #409
after installing surge, while parsing i am receiving this error that no such file directory exist

[2020-06-02 07:16] TrentSterling commented on #192
Needed this today, searched around and find its not an option yet? **Oof**.

[2020-06-03 07:29] MuhammadHammad999 commented on #55
hello, whenever I try to surge, it says
Aborted - You to not have permission to publish ------

[2020-06-03 11:29] NourddineMaghmouli commented on #288
sorry I am new into this but what you mean by "a robots.txt works as expected with a custom domain", how can I make my website indexed? should I host it as custom domain?

Thanks

Noureddine

[2020-06-03 20:11] hassanrehman01398 opened #410 "Not showing error"
While deploying my application without given token command in build it should show syntax error but it is not showing that.I think this is the issue.

[2020-06-04 16:46] junaidms111 commented on #55
you do not have permission to publish to bootcamp_session2.surge.sh

[2020-06-07 02:10] jfarmer commented on #403
For anyone reading this, the underlying issue is with the https://github.com/winstonjs/winston logging library. See https://github.com/winstonjs/winston/issues/1797

The message is the result of new error logging added in Node 14 (https://github.com/nodejs/node/pull/29935).

[2020-06-07 08:12] sintaxi commented on #403
@jfarmer thank you for the info. It helps a lot.

[2020-06-11 14:31] basakulcay opened #411 "surge permission"
When I tried to surge I'm getting the below error.

Aborted - you do not have permission to publish to fragile-soap.surge.sh

[2020-06-11 17:16] #411 closed

[2020-06-14 05:45] haohanyang opened #412 "Unable to deploy with Warning: Accessing non-existent property 'padLevels'"
When deploying a React App with surge, it shows an error when I type `surge` in prompt
[code]
And I am not able to publish it. It might be related to its incompatibility with my node version, which is v14.3.0

[2020-06-16 17:29] limzykenneth opened #413 "Let's Encrypt Support"
I have a site with custom domain that I wanted to serve over https but I have look around a bit but I'm not able to find anywhere that definitively says whether Let's Encrypt is supported or not (including auto-renewal).

I found reference to it on Twitter mentioning it is in beta but that was a few years ago and on the issues here I found reference to Let's Encrypt as well but not on how to apply

[2020-06-16 21:49] marcelocpinheiro commented on #219
Here's a good guide
https://community.letsencrypt.org/t/adding-certbot-ssl-certification-to-custom-domain-on-surge/88241

[2020-06-17 10:02] limzykenneth commented on #413
Got support through Twitter and seems the steps are to be enrolled in the beta and push to a https URL directly.

[2020-06-17 10:02] #413 closed

[2020-06-19 00:34] #412 closed

[2020-06-19 12:50] WilliamReed2004 opened #414 "Command "surge" cannot be found"
I have installed surge on my Windows 10 machine, I have the latest version of node.js installed. But after installing surge if i run the command "surge" in cmd i get an error

`Der Befehl "surge" ist entweder falsch geschrieben oder konnte nicht gefunden werden.`

English:

`The "Surge" command is either misspelled or not found.`

I don't know what I did wrong.

[2020-06-21 04:11] andrscyv commented on #95
I have this problem

[2020-06-21 05:40] sintaxi commented on #95
@andrscyv Thanks for reporting your issue. Please understand that there is 60.8TB of data on surge.sh - which all seem to be working without issue. Commenting on this resolved issue notifies everyone else in this thread and this issue. So you should only do so if you think your input is relevant to them.  If you are having a problem I suggest [hopping in the slack channel](https://surge.sh/help/ch

[2020-06-25 18:49] asif7225 commented on #323
my site not updating, each time same error.

[2020-06-25 18:56] asif7225 commented on #323
![Capture](https://user-images.githubusercontent.com/64966461/85781689-cf951080-b6da-11ea-9e6b-6cd2abcce9e3.PNG)
![Untitled](https://user-images.githubusercontent.com/64966461/85781715-d4f25b00-b6da-11ea-94d6-5f97a8740f26.jpg)
NOT UPDATING SITE ON SURGE, sugest its solution

[2020-07-02 14:22] technikhil314 commented on #55
Looks like it works if you wait for some time. Is there any rate limit on how fast can we publish???

[2020-07-03 04:36] MuhammadHammad999 commented on #55
It just requires changing the name.

On Thu, Jul 2, 2020, 7:22 PM nikhil.001mehta <notifications@github.com>
wrote:

[2020-07-03 05:10] sintaxi commented on #55
@technikhil314 If you haven't verified your email you are FAR more likely to hit a rate limit.  Resetting your password will automatically verify your email if you think you may still need to do that that. If you still think you are being rate limited after doing that let me know and Ill take a closer look.

https://surge.sh/help/resetting-your-password.

[2020-07-03 08:17] technikhil314 commented on #55
@sintaxi Ok so creating account does not verify my email?? Is resetting the password the only way to verify email. The thing is I do not remember if I have reset my password. So I will give it a try. Will get back here if I face the same issue. Meanwhile let me know if you need any logs from my side if I face the issue. So that I wll immediately capture the logs before they get bloated by my ohter

[2020-07-09 09:21] baberibrar opened #415 "you do not have permission to publish"
[](url)
![Annotation 2020-07-09 135936](https://user-images.githubusercontent.com/61284156/87022159-84f1b900-c1ef-11ea-8c0f-26bcbf9a3222.png)

[2020-07-15 13:46] james-ingold opened #416 "SSL Cert Not Updating"
Hello,

I'm pushing a new ssl cert up with surge and the website continues to use the old expired certificate. I've been working on this for a day and I'm not sure what else to do. I'm using the same process that I've used for the past couple of years.

surge --version
v0.21.6

[code]

<img width="357" alt="Screen Shot 2020-07-15 at 8 44 16 AM" src="https://user-images.githubusercontent.com/700919

[2020-07-21 22:30] Sean-93 commented on #300
yeah, how do you do that

[2020-07-27 02:19] QmxiaoMengXin commented on #415
我也遇到了这个问题，请问你是怎么解决的

[2020-07-27 02:21] ruthlessRonin opened #417 "无法输入密码"
surge -a 添加账号密码时无法输入密码

[2020-07-27 13:31] #416 closed

[2020-07-27 16:38] baberibrar commented on #415
Please change the domain name, because your domain name already use

[2020-07-29 21:16] JordanHoffman opened #418 "Surge Webpage no longer loading, times out"
My website is no longer loading. It simply times out and it says it took too long to respond. This never happened before. I tried redeploying and it's still the same. It's at jordanhoffman.surge.sh

I live in South Florida and I don't know if this has to do with the servers Surge uses or what.

[2020-07-30 00:45] sintaxi commented on #418
Thanks for reporting the issue. We had a DDOS attack which temporarily took down 3 of our data centers. This affected mostly projects with surge.sh domains. Projects appear to be back online now.

[2020-07-30 00:45] #418 closed

[2020-07-30 18:16] JordanHoffman opened #419 "Website down again... good luck"
Last time I posted this I was told it was a DDOS attack. It's literally the next day and my website is down again. My website is a career portfolio so this would basically cost me a job if an employer was trying to look at it. I don't know how infrastructure works with web hosting servers, but this unreliability is unacceptable. Good luck fixing it, I'm moving on to a different web hosting provide

[2020-07-31 11:50] psipher commented on #55
I had the same issue, since the path was public folder and i was running outside it,  while adding slash in the project caused this issue for me, however next time i let the default path and rather in the domain , i added /public and it worked.

[2020-08-03 03:38] agonzlezr commented on #396
Hi @Arteneko, I was looking for this issue too and found out that it was previously addressed in #90; please check on [Brock's reply](https://github.com/sintaxi/surge/issues/90#issuecomment-487765945) for a possible solution.

[2020-08-12 14:33] danieledler opened #420 "Getting `Uncaught SyntaxError: Unexpected token '<'` on new static nuxtjs app"
I have a static site generated with [nuxt](https://nuxtjs.org/) but after the upgrade from nuxt 2.10.2 to 2.14.1 it stopped render on surge.sh. When the browser gets `_nuxt/node_modules/commons.[hash].js`, the content is not from that .js file but from the main _.html_ file, and hence the unexpected token `<` (see attached screenshot).

![image](https://user-images.githubusercontent.com/7313550/90

[2020-08-13 19:37] sintaxi commented on #420
Thanks for providing steps to reproduce. Very helpful!

Surge by default ignores the node_modules folder. You can fix this on your end by adding a `.surgeignore` file in the directory you upload to surge.  Eg. `echo '!node_modules' > dist/.surgeignore`

[2020-08-14 15:10] danieledler commented on #420
Thank you very much, that fixes this issue!

Nuxt is on their way with a fix to not create chunks in a node_modules subfolder: https://github.com/nuxt/nuxt.js/pull/7906.

[2020-08-14 15:10] #420 closed

[2020-08-15 08:49] ngdangtu-vn commented on #414
Can you tell me how did you install it?

In case you install it as a local dependency, please use it like this:
[code]

If you installed it as a global dependency, it is probably Windows doesn't recognize the global packages location. If I'm correct, global packages should be in `C:\node_modules\` with C is OS drive. Referer [stackoverflow](https://superuser.com/a/949577) to learn how to set PATH

[2020-08-31 22:44] xucatherine opened #421 "I'm a collaborator but I can't publish to the domain"
My friend added me as a collaborator and I received an email confirming it. However, whenever I try to publish to the domain, it says I do not have permission.

<img width="587" alt="Screen Shot 2020-08-31 at 6 41 17 PM" src="https://user-images.githubusercontent.com/55928033/91775780-f0d21b80-ebb9-11ea-80f6-748d573c919b.png">

[2020-09-02 19:07] #421 closed

[2020-09-04 18:52] segunmicheal27 opened #422 "Issue on node 14.17.0"
There is issue on
node: v14.7.0 as well

[2020-09-04 18:54] segunmicheal27 commented on #309
issue on
node: v14.17.0
as well

[2020-09-04 18:54] segunmicheal27 commented on #309
this is error we got

Invalid or unexpected token

[2020-09-14 19:57] justingaylor commented on #55
I encountered this issue today with a new account created. I failed repeatedly until I verified by email (verification email received in my inbox). Then it worked like a charm. 🙇

[2020-09-17 18:21] bonki commented on #90
This means that test accounts created using throwaway email addresses cannot currently be deleted and will remain stale as there's no way to actually *send* mail from those. There are also other, more legitimate use cases where it's impossible or not feasible to send mail from the same address which was used for sign-up (e.g. catch-all addresses, ad hoc aliases (i.e. via plus addressing), ....). I

[2020-09-24 08:25] jitendravyas commented on #55
This is still a problem. Any solution yet?

[2020-09-25 17:59] NathanNOSudo opened #423 "Permissions"
I have been unable to update a deployed surge.sh project. When I attempt to push changes to my surge.sh I get the following error:
Aborted - you do not have permission to publish to xxxxxxxxx.surge.sh. I think it has to do with an IP address issue but i am not sure.
Things I have tried so far:

- I tried every email I have
- Tried different machines
- I have tried different folders of the same pro

[2020-09-25 18:03] sintaxi commented on #423
Send an email to support@surge.sh using the email address you used to sign up with on surge and we will look into it for you.

[2020-09-28 06:10] rahulvyas commented on #179
I am getting same issue I get success when uploading a flutter web build folder. I already have index.html page on root. Still I'am getting 404 error. How do I trace the issue ?

[2020-09-28 07:03] #423 closed

[2020-09-28 07:04] #419 closed

[2020-09-28 07:12] sintaxi commented on #179
@rahulvyas its difficult to help you with the limited information you have provided. In most cases when people report this issue they simply deployed the wrong directory. You can visit `/auto.appcache` to see the published files. Please consider opening a new issue (so others don't get emailed) with detailed information (so I can help) if you can't resolve the problem yourself.

[2020-09-28 07:21] sintaxi commented on #90
@bonki You have convinced me. I'll add `surge nuke` to the CLI as soon as possible. :)

[2020-09-28 11:26] rahulvyas opened #424 "404 error when deploying flutter project with default configueration"
Hi @sintaxi

Can you look into this ?
http://thin-breakfast.surge.sh/auto.appcache

[2020-09-28 19:45] sintaxi commented on #424
Looks to me like you are wanting to deploy the web directory. Try running `surge web thin-breakfast.surge.sh` to deploy.

[2020-09-29 07:41] od2 commented on #333
if you trying to remove it after closing terminal.

try upload new project file to the domain that you want to remove.
`surge`
project: root/project_sample
domain: domain-you-want-remove.surge.sh

then type surge teardown

`surge teardown domain-you-want-remove.surge.sh`

[2020-10-06 09:42] rahulvyas commented on #424
Thanks, will check and let you know.

[2020-10-06 11:16] Kirusshenkin commented on #167
How to delete everything at once?

[2020-10-07 17:01] rrecuero opened #425 "Transient issue with certificate"
Hi there,

I created a new project and deployed it using surge. When loading `http://dreary-window.surge.sh/` sometimes it works and sometimes I get the following

[code]

<img width="1437" alt="Screen Shot 2020-10-07 at 10 01 14 AM" src="https://user-images.githubusercontent.com/541599/95363252-0f47c880-0884-11eb-9419-7023a9fb8d63.png">

Can you please help?

[2020-10-07 17:07] rrecuero commented on #425
Here is the Cert

[code]

[2020-10-07 17:56] infoxicator opened #426 "Usage of `tarr` instead of `node-tar`"
The `tarr` module https://www.npmjs.com/package/tarr (with an extra r at the end) copy of the official node-tar package https://www.npmjs.com/package/tar was added in this commit

https://github.com/sintaxi/surge/commit/bf652192da4c9e6f2da4f197b31f62aeb9e401cd

what is the reason behind using `tarr` instead of the official `tar` package?

the name of that package makes it look like `typo-squatting

[2020-10-07 18:22] sintaxi commented on #425
Thanks for the detailed report. We believe we have resolved the problem. Here is what happened...

Early this morning we were forced to mitigate a DDOS attack on one of our data centers that was affecting projects using the `*.surge.sh` subdomains. In that process we routed some traffic to a different server in that same data center and the rest was temporarily routed to a data center in New York.

[2020-10-07 19:43] #425 closed

[2020-10-07 19:43] rrecuero commented on #425
Thanks for the detailed report @sintaxi !  :)

I will redeploy later tonight

[2020-10-09 14:36] Francois-Esquire commented on #426
@sintaxi any idea on this?

[2020-10-09 20:57] sintaxi commented on #426
Good question. I forget the exact reason but I published `tarr` to freeze the `node-tar` codebase to resolve a dependency issue. This was some time ago so probably worth revisiting.

[2020-10-11 17:38] tornasvk commented on #55
remember to "Verify your email"

[2020-10-12 07:52] SNathJr opened #427 "Surge 504 gateway time out"
It seems there is an outage in surge subdomains. I just created https://squashy-pico.surge.sh/ and it keeps responding with 504 gateway time out. Please look into it!

FYI: All previously created subdomains are down too (sometime with response 504 and other times with 408).

[2020-10-12 07:55] sintaxi commented on #427
Thanks for reporting.

We're under attack but we caught it quickly. Working on a solution now.

[2020-10-12 09:02] sintaxi commented on #427
We believe we have mostly mitigated the attack (within the hour).

Our system is still under very heavy load. We will continue to take steps to reduce the impact.

![Screen Shot 2020-10-12 at 1 51 00 AM](https://user-images.githubusercontent.com/867/95726961-6ce66700-0c2e-11eb-807d-fdfbfea1235b.png)

[2020-10-12 09:03] #427 closed

[2020-10-12 09:08] SNathJr commented on #427
@sintaxi
Thank you for the quick reply and resolution. I can confirm that old projects are live now. However, projects created during attack duration or any newly created project are not getting deployed. (they respond with 404 page not found).

[2020-10-12 11:34] sintaxi commented on #427
@SNathJr I think everything should be resolved now. Thanks for reporting your findings. It helps a lot.

[2020-10-12 15:54] SNathJr commented on #427
@sintaxi Thank you for replying! I can confirm that all of my projects are live now.

[2020-10-12 17:37] sintaxi commented on #427
@SNathJr thanks.

Here is a follow up graph. You can see what normal traffic looks like compared to the attack.

![Screen Shot 2020-10-12 at 10 36 40 AM](https://user-images.githubusercontent.com/867/95775260-f1f56e80-0c76-11eb-9d15-0ede7cb01e80.png)

[2020-10-12 17:40] nicovd737 commented on #55
Having same issue even after verify my mail

[2020-10-12 17:41] nicovd737 commented on #55
Yes. after verify the mail, it works !

[2020-10-15 19:26] tazik561 opened #428 "flutter-web: Image not shown in surge"
I create a simple flutter web app(default Counter project + a png image). I added png image from asset like this:

      assets:
        - assets/images/

main class:

      @override
      Widget build(BuildContext context) {
        return Scaffold(
          appBar: AppBar(
            title: Text(widget.title),
          ),
          body: Center(
            child: Stack(children: [

[2020-10-15 19:36] #428 closed

[2020-10-20 07:15] #417 closed

[2020-11-03 04:52] faisalkhan215 commented on #55
Hello, Friends
A lot of people have the issue of `#Aborted - you do not have permission to publish` to new users of surge but it is very simple that only you have to verify your email address thrugh which you created the account on the surge command line
Thanks

[2020-11-06 19:24] metasoarous commented on #288
@NourddineMaghmouli Is sounds like this is what he's saying, yes.

[2020-11-09 09:25] syabro commented on #403
@sintaxi whinston fix https://github.com/winstonjs/winston/pull/1800 was merged a while ago
Could you update deps?

[2020-11-09 09:29] syabro commented on #403
Hmm, looks like `prompt` is not maintained anymore.
I think the best solution here is to switch to https://www.npmjs.com/package/prompts or https://www.npmjs.com/package/enquirer

[2020-11-09 11:37] sintaxi commented on #403
@syabro thanks. What do you suppose is the easiest solution for taking care of the warning?

[2020-11-09 17:36] syabro commented on #403
@sintaxi actually AFAIS prompt is being imported only https://github.com/sintaxi/surge/blob/86f3b43091609e80564e8998a6718196370ca1fd/lib/middleware/util/helpers.js#L1
But moreover it's not being used.
So I think you can just remove it.

[2020-11-09 17:37] syabro commented on #403
Also I would strongly recommend to add `eslint` with https://eslint.org/docs/rules/no-unused-vars

[2020-11-10 12:31] sintaxi commented on #403
Thanks for doing the heavy lifting @syabro.

I just released `surge@0.21.7` which removes prompt which should resolve these CLI issues on `node@14.x`.

[2020-11-10 12:31] #403 closed

[2020-11-10 12:40] fu-sen commented on #403
I ran `npm i -g surge` and saw this improvement. Thank you for the improvement! 😄

[2020-11-10 12:43] sintaxi commented on #403
@fu-sen you're welcome!

[2020-12-04 12:15] rahulvyas commented on #424
I tried this command but still getting error

`http://stockit.surge.sh/`

Error is `GET http://stockit.surge.sh/main.dart.js net::ERR_ABORTED 404 (Not Found)`

[2020-12-04 12:59] sintaxi commented on #424
@rahulvyas I'm not seeing a `main.dart.js` file in your list of deployed files. Are you sure it is in the directory you are publishing?

Check this endpoint for a list of files you have deployed...

http://stockit.surge.sh/auto.appcache

[2020-12-08 17:56] h4ckdi commented on #55
I have verified email and still getting this error `#Aborted - you do not have permission to publish`

[2020-12-08 18:26] faisalkhan215 commented on #55
Hi @h4ckdi visit this link and go through the whole article step by step its a complete solution [How to use github actions with surge.sh](https://top3solution.com/2020/11/05/what-is-a-surge-sh-how-to-deploy-a-website-on-surge-sh-how-surge-sh-works-with-github-actions-how-to-deploy-static-webpage-to-surge-sh-with-github-actions/)

[2020-12-12 05:51] CharlesKumar commented on #282
I also had this problem of weird domain registered in surge accidentally somehow

` 1539668485543 document.body.style.visibility = "hidden";   2 years ago   surge   surge.sh   Standard`

Finally, @Craaftx 's [solution](https://github.com/sintaxi/surge/issues/282#issuecomment-467378218) of hard coding the url worked to remove the weird domain 'document.body.style.visibility = "hidden";'

I URL enco

[2020-12-22 09:47] DanySK opened #430 "Discover which account uploaded on a URI"
Hi everybody,
we maintain an innovative programming language named [Protelis](www.protelis.org), and we rely on surge.sh to publish its documentation. We realized that someone, likely from our current or past team, created  http://protelis-lang-unstable-doc.surge.sh/. We need to update the information there, but apparently none of us can.
Everyone in the team ran `surge list`, and nobody owns the

[2021-01-05 01:31] KevinApodaca opened #431 "Fix typo in Tearing Down page: `particualr domain`"
In the  Tearing Down page https://surge.sh/help/tearing-down-a-project

`particualr`  => `particular`

Reference image:
![Screen Shot 2021-01-04 at 6 28 30 PM](https://user-images.githubusercontent.com/35210520/103596351-fcf91d00-4eba-11eb-968b-4180dfd7e692.png)

[2021-01-05 02:14] KevinApodaca commented on #431
I would like to contribute to this and fix a couple of the typos, but it doesn't look like this documentation is part of the repo. Is there a way to contribute to the documentation ?

[2021-01-10 21:26] JKAnderson409 opened #432 "Access, edit and delete personal data collected by Surge"
The surge privacy policy states:

As far as I can tell there is no way to log in to the web interface. There is no way to access, edit or delete collected data through the CLI. Am I missing something? How does surge disclose the information that it gathers and how am I able to edit and delete this information?

[2021-01-14 09:04] peratik opened #434 "deploy with single zip file"
Hi,

It would be very useful if you add deploy by single zip file.

Thank you

[2021-01-25 00:18] udemezue01 opened #435 "My assets does not load once I upload my project to surge"
Hello, I am using vue js and I deployed a project with about three images in SVG format only to find out that they're all broken when they get to the surge server.
Here is a link to the project

http://travel-ly.surge.sh/

[2021-01-25 01:08] sintaxi commented on #435
Hmm,  I’ll looks like your file names have capitals in them and the file
paths don't.

-b

On Sun, Jan 24, 2021 at 4:18 PM udemezue John <notifications@github.com>
wrote:

[2021-01-25 03:01] udemezue01 commented on #435
Thanks, I fixed it already, I am grateful for this wonderful assistance

[2021-01-25 03:01] #435 closed

[2021-01-31 13:08] Yusuf-shaik opened #436 "Internal Server Error"
Servers seem to be down. I get an internal server error with my surge.sh projects, and the surge.sh official website is down as well.

[2021-01-31 13:22] muzuiget commented on #436
Same to me:

[code]

[2021-01-31 13:31] Myssiry commented on #436
Same here

[2021-01-31 14:25] sintaxi commented on #436
Thanks for reporting. It's all back up again.

Implemented a bug which wasn't caught by the automated tests and it went into production. All regions were temporarily out. Reverted back. 😓

[2021-02-04 15:10] irtaza909 commented on #305
hahahahah i spent whole day why is it not working :)

[2021-02-05 12:28] sintaxi commented on #305
@irtaza909 sorry to hear that. In the future we will be encouraging people to use the shorthand `surge path/to/www example.com`. OR `surge path/to/www _` if they need a subdomain selected for them.

[2021-02-07 07:35] UmairHussain123 commented on #300
but how to do that

[2021-02-13 09:05] chunkybanana opened #437 "Mis-sending max-age header for HSTS"
I wasn't sure where to put this, as there's no repo for the surge backend.

I'm not sure when exactly this started, but whenever GETting a resource I get the error `Strict-Transport-Security: The site specified a header that included an invalid ‘max-age’ directive.` Further investigation reveals that this value is null.
Is this important and if so, can it be fixed?

[2021-02-13 09:08] sintaxi commented on #437
Thanks for reporting. Will fix this right away.

[2021-02-13 09:13] sintaxi commented on #437
The bug was introduced about an hour ago. Just released a patch. Thanks again for reporting this. Very much appreciated.

[2021-02-13 09:20] chunkybanana commented on #437
Thanks! May  I ask - what was causing this?

[2021-02-13 09:25] sintaxi commented on #437
We have added a flag for setting `Strict-Transport-Security` in the upcoming release of `surge`. You set it by running `surge config example.com --hsts 60`. The bug was caused by the header being set to `null` instead of ignoring the property when it isn't present.

[2021-02-13 09:33] chunkybanana commented on #437
Ok, thanks!

[2021-02-13 09:34] #437 closed

[2021-02-17 09:54] paschalidi commented on #55
Had the same issue today. Installing the latest version solved it for me
[code]

[2021-02-19 21:45] tentaserkan opened #438 "I kit your goal"

[2021-02-22 17:01] thathurtabit commented on #237
I'm using `"surge": "^0.21.7"` and when I try:

[code]

I get the error: `Aborted - No such file or directory: invite`

[2021-03-07 11:21] Sant268 commented on #192
..another year up.
I see why they wouldn't want to encourage this, it makes sense from their bandwidth perspective as well.
Minor feature, but can be misused and bad for their infra.
We can still hope this arrives, maybe

[2021-03-08 08:04] chunkybanana commented on #434
Why? Just unzip and push to surge.

[2021-03-08 08:06] peratik commented on #434
What if you have large files and slow internet connection!?

[2021-03-10 05:02] broncha commented on #55
[code]
did it for me :)

[2021-03-11 09:59] ItayNaveh opened #439 "Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency"
node: 14.15.0
surge: 0.22.1

when i use surge it gives me this warning
`(node:2744) Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency`
but it still works

[2021-03-15 01:42] fu-sen commented on #439
It has happened before. I reported: https://github.com/sintaxi/surge/issues/403

The improved version of this issue does not have any issues. This is a temporary workaround:

[code]

ou can deploy even if a message is displayed.

[2021-03-15 07:13] sintaxi commented on #434
@peratik  Are you aware that surge currently does a tar and zip under the hood?

https://github.com/sintaxi/surge/blob/4007cda2e29acbddb6a712277a799471232c4271/lib/middleware/deploy.js#L339-L342

[2021-03-15 07:15] sintaxi commented on #436
I'm going to close this ticket now. This issue was addressed.

[2021-03-15 07:15] #436 closed

[2021-03-15 07:16] sintaxi commented on #439
I'm pretty sure this issue is resolved in edge which will be merged into master soon. You can test by running `npm install -g surge@edge`.

[2021-03-15 07:26] fu-sen commented on #439
@sintaxi I'm trying it out with `npm install -g surge @ edge`. It's a good situation.
Furthermore, I got a nice present for me in Japan. 💻😲
I will try it immediately. I'm glad I kept using Surge! 😄

[2021-03-15 07:39] sintaxi commented on #439
@fu-sen great! please report any issues you find.

[2021-03-16 09:56] fu-sen commented on #439
I followed the npm package:
https://www.npmjs.com/package/surge

It happened again in `0.22.1` and did not happen in `0.22.0` .
This is the ideal workaround version for anyone who wants to use the official version.
[code]

However, since the package has been updated recently, I hope it will be improved in the next few days.

[2021-03-16 09:59] sintaxi commented on #439
@fu-sen Its not clear to me what the problem is, and the difference between `v0.21.1` and `v0.22.0`. Can you elaborate? I think I may be missing the issue.

[2021-03-16 10:12] fu-sen commented on #439
@sintaxi No, It is `v0.22.0` and `v0.22.1` . What have you changed recently during this time?

[2021-03-16 10:23] sintaxi commented on #439
I was hoping to get more information from you :)

I'm very confused. What happened in `0.22.1` and did not happen in `0.22.0`? I want to help but I suspect you don't realize how unclear your report is.

I really appreciate you taking the time to report issues. To help I need stack traces, CLI output, and version numbers for both node & surge so I don't have to spend huge amounts of time trying to

[2021-03-16 10:42] fu-sen commented on #439
Oh, I'm more into the `geo` response changing from` sgp` to `nrt`. 💻😆

[2021-03-24 13:08] HenriqueRamos13 opened #440 "How can i recover my old website?"
I own a domain that doesn't arise where I accidentally pushed and overwrote an old project that was not saved in git (I don't know why I didn't use git).
Does surge have any kind of commits to recover old files?

[2021-03-24 13:19] fu-sen commented on #440
I'm currently trying the development version triggered by another issue, and the help is:
[code]

@sintaxi Have you already implemented rollback? Will it be implemented now?

[2021-03-24 13:28] HenriqueRamos13 commented on #440
My surge --help show me this:

[code]

and  rollback:

[code]

[2021-03-24 13:39] fu-sen commented on #440
Yes. You still have too fast an action. Please wait for comments from the developers.

[2021-03-25 07:36] sintaxi commented on #440
@HenriqueRamos13 yes! surge has this in the upcoming release which you can install and test out.

1. Install the preview release of surge by running `npm install -g surge@edge`. This will install version `0.23.0-rc.3` which you can check by running `surge --version`.
2.  Run `surge list www.domain.com.br` to see all previous versions of your site.
3. Run `surge rollback www.domain.com.br` to rollb

[2021-03-25 07:37] sintaxi commented on #434
Closing this issue since this is effectively already covered by existing implementation.

[2021-03-25 07:37] #434 closed

[2021-03-25 09:31] HenriqueRamos13 commented on #440
@sintaxi It worked! But is it possible for me to get the files from this site? Like a git clone, because the site is back to normal but the files are still the most recent

[2021-03-25 10:40] fu-sen opened #441 "Add Discussions to this project"
Surge has Twitter and Slack, but no forums.
As a result, this issue became dirty with many rudimentary questions.

So why add Discussions to this project? It's a new feature added by GitHub in 2020.
https://docs.github.com/en/discussions

It encourages interaction between Surge users and allows them to share ideas on how to use them and suggestions for new features. The developer does not have to

[2021-03-26 08:19] fu-sen commented on #440
Unfortunately it is not a feature of Surge. But you can:
https://www.google.com/search?q=site+downloader

From here on, it's not what Surge supports, so you're good enough to close it.

[2021-03-26 08:27] sintaxi commented on #441
Agreed. Do you happen to know of another project that does this well?

[2021-03-26 09:38] fu-sen commented on #441
A project I'm working on with this implementation:
https://github.com/vercel/vercel/discussions

... yes. It is a rival (now.sh) that was initially compared side-by-side with Surge. So I didn't put this in.

[2021-03-26 09:46] HenriqueRamos13 commented on #440
Ty!

[2021-03-26 09:46] #440 closed

[2021-03-28 02:05] fu-sen commented on #441
I've recently figured you're active and trying to bring new features to Surge.
Actually, it should be issued separately, but I will put it here.

You should consider making Surge a Github organization.
Surely it will help you in your work and add friends team in the future.

This user hasn't been active lately:
https://github.com/surge

Ask the GitHub staff. This account may be released.
https://s

[2021-03-29 04:01] xrkffgg commented on #341
@sintaxi HI, I have a project with 600MB after build, is there any way to publish it? Thank you!!!

[2021-04-04 03:39] fu-sen commented on #441
Yeah, I confirmed:
https://github.com/sintaxi/surge/discussions

We hope this will make this issue an ideal place. I'm good enough to close this.

[2021-04-04 03:39] #441 closed

[2021-04-09 17:07] matheus-moreira opened #448 "Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency"
Node: v15.13.0

When i run "surge" it gives me this message:

``Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency (Use `node --trace-warnings ...` to show where the warning was created)``

If I'm trying to login for the first time the process gets stuck and I'm forced to abort.

[2021-04-09 18:30] sintaxi commented on #448
I'm unable to recreate this issue even when running with `--trace-warnings`. I'm on node `v15.13.0` and surge `v0.23.0` and MacOS Catalina `v10.15.3` .  Let me know if you have any suggestions.

[2021-04-09 18:46] matheus-moreira commented on #448
i really dont know =/

but whatever you did, fixed it.

[2021-04-09 20:07] sintaxi commented on #448
Ok great. I've tested on both `latest` and `edge` so I'm going to close this ticket. Thanks for opening this ticket.

[2021-04-09 20:07] #448 closed

[2021-04-09 20:08] sintaxi commented on #439
resolved #448

[2021-04-09 20:08] #439 closed

[2021-04-09 20:09] sintaxi commented on #422
Need description of problem. Please test latest version of surge and reopen if you still have an issue.

[2021-04-09 20:09] #422 closed

[2021-04-09 20:12] sintaxi commented on #398
Sorry I did not get to this earlier. Running `surge . http://abc.surge.sh` has always worked for forcing `http` and in the upcoming release of surge you will be able to provide a `--force http` flag. Let me know if you have any questions.

[2021-04-09 20:12] #398 closed

[2021-04-09 22:11] sintaxi commented on #365
Use `--token` for passing in an access token to any surge command. A token can be generated with the command `surge token`.

Surge Professional is $30/mo not $129/mo. Not seeing anything here that would require an upgrade to Pro. Looks to me like its just prompting for authentication.

Closing. Please reopen if there is any questions.

[2021-04-09 22:11] #365 closed

[2021-04-10 01:11] fu-sen commented on #439
@sintaxi good job! 👍

I have confirmed that the `surge` CLI has been updated and this bug is gone:
https://www.npmjs.com/package/surge?activeTab=versions

You need to update:
[code]

[code]

[2021-04-10 01:18] fu-sen commented on #448
The `surge` CLI has been updated, Try:
[code]

You also had to be aware of the existence of https://github.com/sintaxi/surge/issues/439 .
If you have login problems, you need to reopen and publish a little more details.

[2021-04-10 01:59] sintaxi commented on #439
@fu-sen thanks for confirming!

[2021-04-10 02:37] fu-sen commented on #448
Maybe you're just starting out with Surge because you're trying to log in?
In that case, Discussions is the ideal place to post, as your operation is likely to be causing trouble and not a bug:
https://github.com/sintaxi/surge/discussions

[2021-04-10 02:39] sintaxi commented on #448
@fu-sen I think @matheus-moreira no longer has the problem.

[2021-04-10 02:44] fu-sen commented on #448
@sintaxi You probably overlooked:

There is no other report, so I touched on the details.

[2021-04-10 02:49] sintaxi commented on #448
Hmm, Perhaps I'm misunderstanding but there was an update which includes the following...

Thats why closed the issue. If you think I misinterpreted the response feel free to reopen the ticket.

[2021-04-10 03:00] matheus-moreira commented on #448
hey guys, just to clarify: there was a small update that fixed the issue (i reported directly to sintaxi before opening the issue).

i highly appreciate your attention.

[2021-04-10 03:03] sintaxi commented on #448
Great. Thanks for clearing that up and thanks to both of you for helping make surge better. I'm very grateful to people like you who take the time to report issues and test fixes.

[2021-04-10 10:07] arrahmanbd commented on #167
thanks its worked

[2021-04-10 16:23] mgrela opened #449 "Invalid SSL certificate after site published"
Hi,

I'm using surge to publish a site with a custom domain https://pop.fsck.pl. Unfortunately after publishing the site has an invalid (wildcard) SSL certificate. See below:

[code]

As you can see the SSL certificate returned is for a generic domain *.surge.us.

The DNS configuration for my custom domain is as follows:

[code]

I also have a CNAME file:

[code]

But I specified the domain separa

[2021-04-10 16:29] sintaxi commented on #449
The preview release of surge has a command for provisioning a cert for custom domains using Lets Encrypt...

1) Install by running `surge install -g surge@edge`

2) Run `surge encrypt pop.fsck.pl`

3) You can run `surge certs pop.fsck.pl` to test the certs for your domain.

This may prompt you to upgrade to the Professional plan.

[2021-04-10 19:40] mgrela commented on #449
I tried and it indeed prompted me to upgrade to Prof. Unfortunately the pricing is out of my budget for the plain HTML hosting that I require. A different approach will be attempted.

[2021-04-10 19:40] #449 closed

[2021-04-11 16:05] #431 closed

[2021-04-26 18:33] jessamyn27 commented on #179
please add the instructions in "getting started" doc on surge.sh that your root file MUST be called "index.html" I was naming mine app.html and it took me days to figure out that this was the issue, delaying my coding challenge for a hiring process! Other than that y'all are awesome. Might be nice to have a "common issues" or such easily accessed for noobs like me :)

[2021-05-04 10:21] InnaMeleshko commented on #279
i still have the same problem )i have 8 images in catalog "images'" in src , but when I push to surge 5 images are missing. checked everyrhing^ still can't find out what he problem is

[2021-05-04 10:31] sintaxi commented on #279
@InnaMeleshko We can look into this for you but I need more information. Can you please email support@surgre.sh with more details such as your domain name.

[2021-05-04 10:34] sintaxi commented on #279
@InnaMeleshko that email is support@surge.sh rather. Sorry for the typo.

[2021-05-15 20:20] sagaquisces opened #450 "running 'surge' in build folder generates the following..."
[code]

[2021-05-20 05:33] sintaxi commented on #450
Thanks for reporting!

This has been fixed in `v0.24.0-rc.8` which can be installed with `npm install -g surge@edge`

[2021-05-20 05:33] #450 closed

[2021-05-23 11:55] catdrout420 commented on #378
talentlessguy im mirroring the surge.sh website for you. it works offline

[2021-05-23 12:03] catdrout420 commented on #378
Install surge:
npm install --global surge
# Then in your project folder
 surge

[2021-05-23 12:11] catdrout420 commented on #378
![Screenshot_20210523_120907](https://user-images.githubusercontent.com/81867095/119259926-006a1800-bbc0-11eb-8d7f-5b3bc6c59834.png)

# Eh no it is not blocked in russia

[2021-05-23 12:17] catdrout420 opened #452 "Help"
I cant deploy! This is my output:

┌──(catdrout㉿localhost)-[~/Рабочий стол/website/src]
└─$ surge

   Running as catdrout@tutanota.de (Student)

        project: /home/catdrout/Рабочий стол/website/src/
         domain: 7catdrout.xyz

   Aborted - you do not have permission to publish to 7catdrout.xyz

      please help! 7catdrout.xyz is my domain

[2021-05-23 12:52] sintaxi commented on #452
run `surge whoami` and make sure your authenticated as the same user that published the site.

[2021-05-23 12:53] talentlessguy commented on #378
nice it got unblocked

closing then

[2021-05-23 12:53] #378 closed

[2021-05-23 12:55] sintaxi commented on #378
Its possible that the IP of our edge node just changed. Anyway, glad to see it unblocked. Thanks for following up!

[2021-05-23 15:56] catdrout420 commented on #452
I mean. That account is my old account that i dont have acess to. I can verify my that i own the domain (7catdrout.xyz) by creating a TXT record.

[2021-05-23 15:58] catdrout420 commented on #452
![Screenshot_20210523_155758](https://user-images.githubusercontent.com/81867095/119267826-b6912a00-bbdf-11eb-9c8b-9c6756f9e781.png)
Proof

[2021-05-23 15:59] catdrout420 commented on #452
# This is my proof
![Screenshot_20210523_155853](https://user-images.githubusercontent.com/81867095/119267847-d4f72580-bbdf-11eb-9d17-21e2c9a02515.png)

[2021-05-23 16:06] sintaxi commented on #452
Email support@surge.sh with your request and we will walk you through a domain verification process.

[2021-05-23 16:06] #452 closed

[2021-05-23 21:50] WalterNyeko commented on #347
I am getting the same problem now

[2021-05-31 08:23] technikhil314 opened #453 "Getting 410 gone error"
I have my site deployed on surge. But all of a sudden it has started giving http 410. Anybody know what is the reason for this?

[2021-05-31 08:33] sintaxi commented on #453
Your account has likely been flagged for abuse. Review the [Surge Terms of Service](https://surge.sh/terms) and if you think a mistake has been made send an email to support@surge.sh with as much details as you can provide.

[2021-05-31 08:33] #453 closed

[2021-05-31 08:42] technikhil314 commented on #453
@sintaxi May I know what all details should I share?

[2021-05-31 08:55] sintaxi commented on #453
I suggest listing all the accounts you have on surge (by email address) and all the project you have published (by domain).

[2021-06-07 23:11] ktg5 opened #454 ""surge ssl" -- SyntaxError: Unexpected token < in JSON at position 0"
Hello, I'm trying to get my SSL ticket onto my server, but it keeps throwing me the error below:

`$ surge ssl

         domain: http://ktg5.online
       pem file: surge.pem
undefined:1
<!DOCTYPE html>
^

SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at Request.<anonymous> (/usr/local/lib/node_modules/surge/lib/middleware/ssl.js:29:24)
    at Request.em

[2021-06-08 05:42] sintaxi commented on #454
Hi @ktg5,

Do you mind reporting the version of surge, nodejs that you are running (`surge --version; node --version`) , along with the operating system you are using?

Meanwhile, you may want to try out the edge version of surge which has some nice SSL provisioning features that mainline does not. You can install that via `npm install -g surge@edge`. See https://github.com/sintaxi/surge/discussio

[2021-06-08 06:02] ktg5 commented on #454
surge -- `0.23.0`
node -- `10.19.0`

[2021-06-12 23:25] ktg5 commented on #454
Any update to this?...

[2021-06-13 11:41] samwelkinuthia opened #455 "Surge list not working"
I get the following error:

TypeError: Cannot read property 'grey' of undefined

![Screenshot from 2021-06-13 14-40-05](https://user-images.githubusercontent.com/27720313/121805792-58db8500-cc55-11eb-9e03-3b20417456a5.png)

[2021-06-13 11:59] samwelkinuthia commented on #455
The issue is specific to version 0.23.0 and is not present in version 0.22.0

[2021-06-14 03:31] sintaxi commented on #455
@samwelkinuthia I can fix this for you I just need your surge email address. Can you send this information to support@surge.sh?

thanks.

[2021-06-16 12:46] samwelkinuthia commented on #455
Working now, thank you.

[2021-06-16 12:46] #455 closed

[2021-07-15 19:04] lucastnr commented on #192
I think this would be a great addition to surge, needed an older version of a project that was on surge, unfortunately this is not available till now.

[2021-07-21 01:08] callmeaponte opened #456 "Feature Request - Have the CLI remember the "project" value"
I apologize if this has already been answered or solved, but I tried searching for it (for quite a while) and could not find anything.

Is there a way to "remember" the project that the CLI always prompts you for when you run `surge`? Similar to how you can create a `CNAME` file for the CLI to remember the domain.

I'm asking as I'm attempting to automate the deployment, but that prompt is making

[2021-07-21 08:21] sintaxi commented on #456
Yes. The recommended way to use surge is to avoid using the prompts. Many ways to accomplish this.

The surge command can take two arguments. `surge <project-path> <domain>`.

So you can run...

`surge . example.com`

Or you can pass in params...

`surge --project . --domain example.com`

Or shorthand params...

`surge -p . --d example.com`

Of course if you need to point to another directory you

[2021-07-21 08:22] sintaxi commented on #456
Also, its common practice to put this as a script in you package.json file then you can just run...

`npm run deploy`

[2021-07-21 15:29] callmeaponte commented on #456
Thanks! Good to know.

This is amazing software btw, the simplicity and ease-of-use is a beautiful thing.

[2021-07-21 15:29] #456 closed

[2021-08-02 12:46] ollefrost opened #457 "Tearing down project deployed with incorrect email"
I accidentally deployed my project to `yedada.surge.sh` while I was logged into `elcasaaboxi@gmail.com` with a password I don't remember.

`elcasaaboxi@gmail.com` doesn't exist. My email is `elcasaboxi@gmail.com`.

I logged out and created an account with my actual email seconds later and attempted to deploy my project to `yedada.surge.sh` but obviously it denied permission. I can't do `teardown`

[2021-08-18 06:33] muhammadamaan008 opened #458 "I am getting error while uploading my repository"
![Capture](https://user-images.githubusercontent.com/89076614/129849187-1f7b41c2-6c9d-4b42-8f91-431c6119b1ba.JPG)
I am uploading my project to github while deploying it to serge and automating whole process by writing in actions the whole process and making my token as secrets

[2021-08-18 08:51] sintaxi commented on #458
Is the token expired? You can create a new one on the command line by running `surge login` and `surge token`.

[2021-08-21 16:50] timo-cmd2 opened #459 "Subdomain of a subdomain"
Hello everyone 👋🏻

I know that a DNS may hold as many as possible subdomains for a host. How can I configure this with surge.sh? Assuming, I have a webservice running on a site like pony.foo.surge.sh

Thanks for support and best regards

Timo Sarkar

[2021-09-02 14:20] prashant-shahi opened #460 "Error while adding card to upgrade to Surge Professional"
@sintaxi I am getting the error below when I try to upgrade to professional.

[2021-09-03 05:23] prashant-shahi commented on #460
Apparently **Mastercard** is not supported. But worked when used **VISA**.

[2021-09-03 05:23] #460 closed

[2021-09-13 09:32] fu-sen commented on #459
You can't do it with `surge.sh`. Limited to `●●● .surge.sh`.
You can consider `●●●-●●●.surge.sh` instead of `●●●. ●●●.surge.sh`.
There are several reasons for this.
For example, the SSL certificate `*.surge.sh` does not target `●●●.●●●.surge.sh`.

If you use a custom domain, you should be able to use it without this limitation.

[2021-09-13 11:19] timo-cmd2 commented on #459
Alright perfect. Thanks!

[2021-09-13 11:19] #459 closed

[2021-09-17 05:06] xiaohk opened #461 "Error - Deployment did not succeed"
Hello, I am a huge fan of surge!

I encountered this error message today: `Error - Deployment did not succeed` when I tried to deploy my project to a `surge.sh` domain. It happens to different `surge.sh` domains (both `http` or `https`).

Does that mean there are some issues on the surge server, or should I deploy it differently?

Thanks!

[2021-09-26 20:07] #249 closed

[2021-09-29 06:10] burhan-maliksher opened #462 "project not found"
hi ! its been 2 days i am trying to deploy my simple .html file on surge. everything goes right and when i try to browse it it show project not found on surge .sh. kindly give me an idea how to resolve it

[2021-10-08 21:12] epicyeeto opened #463 "i can't put in password"
i need help i don't know how to put in password
it does not let me type on password part
and I have tried putting it in node.js command

help?

[2021-11-01 22:13] kevnoutsawo commented on #55
I had the same issue, I verified my email and it persisted. I then tried to put a very long and random name for the subdomain and it worked.
The user experience is unnecessarily frustrating, it should output a more precise message telling you that the subdomain is taken, not that you just don't have permission without saying why.

[2021-11-01 22:19] kevnoutsawo commented on #415
Thank you very much. I also had the same issue and I tried many obvious names. Now I tried a longer and more random one and it worked.
They should put a message that says it though.

[2021-11-01 22:45] kevnoutsawo commented on #141
Hi, has there been any progress about that? I was about to open a similar issue but this explains it well. It looks like the surge CLI is still very unintuitive. For instance, the following message should point out why you don't have the said permission.
"Aborted - you do not have permission to publish to random-subdomain.surge.sh"
Some users had the message because they had not confirmed their em

[2021-11-02 07:03] sintaxi commented on #141
@kevnoutsawo, as far as I'm aware this error message is only shown if you don't have publishing rights for the domain. It is not ever shown in the event your email isn't confirmed. If you see this message I suggest running `surge whoami` to be sure you are logged in as the account you think you are. Also check your inbox for past "welcome to surge" emails.

[2021-11-02 10:46] kevnoutsawo commented on #141
@sintaxi Yes, it makes sense. I have confirmed my email before realizing it was not the issue.
When someone doesn't have publishing rights for a domain, shouldn't it let them know why?
Also, the automatic suggestions regularly are already taken and it shouldn't be the case in my opinion. I have used Heroku and mainly use Netlify these days. The random subdomains they propose are always available.

[2021-11-09 12:15] EricoCartmanez commented on #55
For me it worked the 3d time executing the same command (`surge`)

[2021-12-05 18:36] #192 closed

[2021-12-06 04:58] hamza-ali313 commented on #415
thanks I am having the same problem

[2021-12-21 19:54] ramblingenzyme commented on #398
If you have a custom domain without an SSL config/Surge Plus, I think it should force http by default. Otherwise you get a certificate mismatch on the HTTPS version.

[2021-12-21 20:53] sintaxi commented on #398
@ramblingenzyme with `surge@edge` you can include the force flag in your deployment `surge . example.com --force http`. This config will remain until it is changed.

[2021-12-23 09:13] gilbertl commented on #415
You just have to run and "enter" quickly. There's a race condition between you and everyone else in the world running surge. Someone else took the domain before you managed to secure it.

[2022-01-09 01:24] briantist opened #469 "⚠please pin `colors` to `1.4.0`"
see: https://github.com/sintaxi/surge/issues/469#issuecomment-1008213809

---

Sometime within the last 24 hours from this post, it appears as though this package was somehow compromised. Running `surge teardown` from my CI, it spit out some very strange text ([link to CI run](https://github.com/ansible-collections/community.hashi_vault/runs/4750806386?check_suite_focus=true#step:8:1)):

https://g

[2022-01-09 01:30] rany2 commented on #469
https://github.com/Marak/colors.js/issues/285

[2022-01-09 02:14] DABH commented on #469
Please just pin the colors dependency to 1.4.0, and see the following if you need additional context: https://github.com/Marak/colors.js/issues/285#issuecomment-1008212640

[2022-01-09 09:19] sintaxi commented on #469
Looking into it. Thanks for reporting this.

[2022-01-09 09:35] sintaxi commented on #469
Just published a patch release to fix this attack. It is `surge@0.23.1`. Install by running `npm install -g surge`.

Sorry this issue came up. I will consider pinning ALL dependencies moving forward to prevent an issue like this from happening again.

[2022-01-09 09:35] #469 closed

[2022-01-10 23:23] ramblingenzyme commented on #398
@sintaxi It's good that that functionality exists, but I would expect that behavior to be default if you are deploying to a custom domain without Surge Plus.

[2022-01-13 04:44] jascodes commented on #405
Hey @sintaxi

This issue seems to be happening again with https://zenart.jas.bio/

[2022-01-13 08:52] sintaxi commented on #405
Fixed! If you hit me up on slack I'll show you how you can provision a cert yourself.

https://surge.sh/help/chat

[2022-01-13 08:52] #405 closed

[2022-01-23 11:52] Kiddyshade commented on #55
Published to phobic-beam.surge.sh but can't see any of the index page there

[2022-01-24 05:12] sintaxi commented on #55
@Kiddyshade The deployment worked, you don't have an `index.html` file in the root of your projects. Try visiting https://phobic-beam.surge.sh/gangweb.html or rename `gangweb.html` to `index.html` and redeploy.

I'm locking this ticket because too many people are getting notified when it's commented on.

[2022-03-04 15:46] JKAnderson409 commented on #432
@sintaxi

It's been over a year. What options do I have for a company does not honor its privacy policy?

[2022-03-18 06:27] sunshinescience commented on #179
Thanks so much, having the index file in the root directory got it to work!

[2022-03-23 17:29] Valexr opened #472 "Vulnerable Libraries - surge@0.23.1 upgrade to: >=0.9.0"
https://github.com/advisories/GHSA-xvch-5gv4-984h
https://github.com/advisories/GHSA-93q8-gq69-wqmw

[code]

[2022-03-26 17:13] usmanhashmis commented on #439
![image](https://user-images.githubusercontent.com/55950977/160250228-eacd0f95-d242-483e-9872-12ebf5c25fe8.png)
how to resolve?

[2022-03-26 20:43] sintaxi commented on #439
@usmanhashmis how is that related to surge?

[2022-04-14 09:53] AlexM566 commented on #307
Hello

[code]
I tried everything I found here but is not working...
Is there any fix?

[2022-04-26 22:19] MalvinJay commented on #415
Lmao! @gilbertl Thank you very much. You can imagine how quickly I was pressing the enter key 😅

[2022-04-28 10:10] alexandrenicol opened #474 "Expired SSL Certificates"
Just a quick message as I’m doing a bit of support for a charity based UK.

They have a website that’s hosted using Surge, their subdomain is “[account-name].surge.sh”, and it’s critical to running their services properly.

Since yesterday, they haven’t been able to access the service because the SSL certificate associated to the domain appears to have expired. Whilst checking, I have also checked

[2022-04-29 00:59] 9oelM commented on #474
Same here. Even the root domain (surge.sh) would show the same thing. Is Surge going down?
![image](https://user-images.githubusercontent.com/22465806/165870354-aa754910-5434-4c5e-9ae1-340e7b361208.png)

[2022-04-29 08:46] DannyvanderJagt commented on #474
@sintaxi Any updates on this? We're using surge at the company and it's having an impact. If it isn't fixed quickly (today/monday) we will need to switch to another service

[2022-04-29 11:03] dedmondson39 commented on #474
Same here. UK based.
The Issue seems sporadic as each request may or may not have a valid SSL certificate. For failure the certificate is shown to have expired on the 27th April 2022

[2022-05-03 13:51] alexandrenicol commented on #474
(Author) Closing this because it seems to have been resolved, even though I haven't had any communications from the people behind Surge (here or via emails).

<img width="636" alt="Screenshot 2022-05-03 145019" src="https://user-images.githubusercontent.com/6968775/166465770-10d929aa-503f-482a-bd91-472fcd831a25.png">

[2022-05-03 13:51] #474 closed

[2022-05-23 13:11] DannyvanderJagt opened #475 "Servers very slow/unresponsive"
We're noticing that some surge links are unresponsive (without changes from our side) and some still work fine.

@sintaxi Can you take a look?

[2022-05-25 12:21] DannyvanderJagt commented on #475
Seem to be working again 👍

[2022-05-26 20:12] catdroutcode commented on #472
Dont worry about that. Surge uses some dependencies that depend on other dependencies

[2022-06-02 23:12] RyanZim commented on #472
Fix in https://github.com/sintaxi/surge/pull/473

[2022-07-30 12:38] wonius commented on #448
logout and login

[2022-08-01 06:47] arman-ebrahimi opened #476 "I cann't login to surge."
When I run 'surge' in cmd, it asks for my email and I enter my email. Then it asks for my password, but when I enter my password, nothing happens.

![Screenshot (25)](https://user-images.githubusercontent.com/71581781/182088703-d858ddba-452a-4aed-962a-f6e803dfd969.png)

[2022-08-02 19:18] paxperscientiam commented on #36
It's been a number of years, so this particular issue may be moot.

That said, I was having deployment issues until I set HTTP_PROXY and HTTPS_PROXY according to my corporate proxy server.

[2022-08-12 12:51] mk0y opened #477 "HTTPS connection is insecure on custom domain"
Hi all,

I'm wondering if this project is still actively maintained. Chat page doesn't work: https://surge.sh/help/chat.

That aside, I run `surge` from my project root, i set the custom domain via CNAME, however I'm getting
<img width="216" alt="image" src="https://user-images.githubusercontent.com/170480/184356654-e12291b5-0a3f-460c-9326-40160d697d0d.png">
in my browser. I tried other browsers a

[2022-08-12 13:21] asmirbelkic commented on #476
press enter

[2022-08-12 13:21] asmirbelkic commented on #463
all password in cli are hidden for security reasons
type your password in then press enter to confirm

[2022-08-12 17:37] epicyeeto commented on #463
lol this was so long ago when i was new but thanks for helping

[2022-08-12 17:37] #463 closed

[2022-08-14 15:25] PedroReyes opened #478 "CORS setup not working - Cross-Origin Resource Sharing"
Hello,

## 👁 Context

I am trying to access a json file I have stored in my surge.sh website. The content of the website is:

- an HTML file with an empty `<body>`
- the JSON file,
- and a CORS file with the content `*`.

I simply use the next command `echo '*' > CORS`

## ❌ Problem

I have followed the next steps: https://surge.sh/help/enabling-cross-origin-resource-sharing

However, when I try t

[2022-08-14 21:29] sintaxi commented on #478
Hi Pedro, I'm curious why are you using `mode: 'no-cors'`? Doesn't that block content coming from other origins?

[2022-08-15 16:45] PedroReyes commented on #478
Hello @sintaxi ,

If I use `mode: 'no-cors'` the result is:

[code]

And if I try to remove the mode:

[code]

I don't know what I am doing wrong 🤔

[2022-08-26 18:22] raininja commented on #477
@mk0y  check these links:
https://surge.sh/help/using-https-by-default
https://surge.sh/help/securing-your-custom-domain-with-ssl

basically you need your own ssl cert for the custom domain, there are instructions for manually creating a .pem file ( I think you can do the same thing with Let's Encrypt certs, or whatever)

Hope this helps

[2022-09-02 05:19] fu-sen commented on #478
By any chance, are you using it with Surge Free? Since this is a Surge Professional only feature.

https://surge.sh/help/enabling-cross-origin-resource-sharing
It's listed at the bottom of this page. I thought it could be at the top of the page.

[2022-09-02 05:23] fu-sen commented on #477
There's a bit more in-depth information on this in the discussions.
https://github.com/sintaxi/surge/discussions

[2022-09-02 11:15] PedroReyes commented on #478
Hello @fu-sen ,

You are completely right, I missed that panel. To be honest I thought it was an ad so I ignored him completely from my reading.

![image](https://user-images.githubusercontent.com/4096108/188119231-18dc41d3-260e-40bd-be45-29ef9c60c540.png)

The same happened to me with the follow along - I found that repository from the wild internet, not from the docs 😅

![image](https://user-ima

[2022-09-02 11:15] #478 closed

[2022-09-02 11:27] fu-sen commented on #478
@sintaxi Can you improve this page? If you continue like this, you may encounter the same useless problem in the future.

[2022-09-03 04:57] Valexr opened #479 "Loading module from “https://svelte-spectre.surge.sh/__data.js?__invalid=y&__id=2” was blocked because of a disallowed MIME type (“text/html”)."
Loading module from “https://svelte-spectre.surge.sh/__data.js?__invalid=y&__id=2” was blocked because of a disallowed MIME type (“text/html”).

[2022-09-03 06:47] sintaxi commented on #479
IIRC surge omits files beginning with underscore by default. If you create a `.surgeignore` file you should be whitelist that file.

[2022-09-03 07:05] Valexr commented on #479
Just file name, not searchParams?

[2022-09-03 07:08] Valexr commented on #479
& why they omitted ?

[2022-09-03 17:24] Valexr commented on #479
Fixed with right build config 👍🏻 surge it's 👌🏻

[2022-09-03 17:24] #479 closed

[2022-09-03 17:39] sintaxi commented on #479
@Valexr great!

The default underscore omission was derived from conventions that some SSGs (mainly harp) and other publishing platforms have. In many situation sensitive or configuration information is stored in files that begin with underscore. Harp uses this convention heavily.

[2022-09-04 06:33] EliotSlevin commented on #192
Hi, I'd like to yet again ask for this feature, and ask for this issue to be reopened.

Surge.sh was a way I deployed heaps of small little things I was playing with while I was at university. Over the last 7 years I've deployed 96 surge sites. In a weird way they represent a time in my life, where I was just starting out, growing and getting better. I never used git at the time, because frankly I

[2022-09-22 16:32] Ronny11113 opened #481 "Sex"

[2022-10-01 14:12] rashidabbas786 opened #482 "Aborted - you do not have permission to publish to custom-domain.com"
I want to publish my project to this custom domain. As a owner how I can allow my self to publish on my website? There seems to be no way to do it. Can someone help me here please.
![image](https://user-images.githubusercontent.com/81164526/193413515-c448e09e-d38c-44b3-a1d0-416e3291b7ad.png)

[2022-10-01 15:31] rashidabbas786 commented on #482
The issue was, the domain I was providing was link to surge through some other account. I had to teardown from that account and then upload from here.

There is a problem now:
So anyone who know my domain name can upload from his account and can take the rights easily.

[2022-10-01 15:31] #482 closed

[2022-10-03 15:48] LucasMW opened #483 "503 Service Unavailable No server is available to handle this request."
[code]

When I try to view it, it is there.
When people from other countries, or me with vpn, we get this message.

Happened today, after I updated the site. Has never happened before.

This is the site: https://headache.surge.sh/

This is the page that won't load https://headache.surge.sh/test.html

[2022-10-09 08:14] #389 closed

[2022-10-09 08:15] #364 closed

[2022-10-11 20:29] shenoa opened #484 "surge bust throws error 502"
Surge v0.24.0-rc.12
Node.js v17.0.1

While trying to troubleshoot a missing resource problem I ran a `surge bust` and received the following 502 error:

[code]

[2022-11-07 10:15] AlexRousseau92 opened #485 "WhiteList domain for consult pdf"
Hello,

I would like to add a pdf on my folio but its doesn't work i have to get a whitelist for using this pdf ?

alexandre-rousseau.surge.sh

Thank you :)

[2022-11-19 19:05] cmdevbc opened #486 "SSL conflict"
Hi, some time ago I used surge encrypt domainname to create ssl certificate, but then as it doesnt provide ssl for www. I manually created a certificate and added it by using surge ssl -pem ... command

now my surge's default certificate expired and my domain shows unsecure and can't do anything about it. nothing happens when I rerun surge certs domainname

<img width="1146" alt="certs" src="https